  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de acerca del evento-->

  <main>
    <div class="container">
      <div class="main-card">
        <div id="about" class="main-card-body">
          
            <div class="afiche__head">
              <h1>About the event</h1>
            </div>
         
          <div class="main-card-img-container line-down">
            <img tabindex="0" role="img"  aria-label="imagen de un niño con una idea." alt="imagen de un niño con una idea." class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/learn.webp')}}" alt="img 1">
            <img tabindex="0" role="img"  aria-label="imagen de una lupa." alt="imagen de una lupa." class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/discovery.webp')}}" alt="img 2">
            <img tabindex="0" role="img"  aria-label="imagen de un calendario." alt="imagen de un calendario." class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/joinUs.webp')}}" alt="img 3">
          </div>
          <div tabindex="0" class="main-card-info h-460 overflow-y">
            
            <p>
              El propósito de este evento es como cierre del proyecto Citadine,
              realizar una exhibición que trate el tema de la inundación de La
              Plata a través de la mirada y experiencia de los testigos y
              sobrevivientes. Es un recorrido por sus testimonios,
              lo sucedido, lo vivenciado, cómo sobrellevaron tal situación.
              Cuenta con 6 secciones cronológicas, con atracciones interactivas
              educativas, que harán que el visitante pueda vivenciar desde los
              momentos previos a la inundación, hasta los siguientes.
              Se considera también el tema de riesgos, cómo prepararse en
              este tipo de desastres y cómo actuar, además de observar casos
              de catástrofes naturales en otros países.
            </p>
            <p>
              El proyecto Citadine fue seleccionado en el marco de la iniciativa
              ERANet-LAC EU-CELAC. de la Unión Europea (UE), América Latina y el
              Caribe (ALC) que han identificado actividades conjuntas de innovación +
              e investigación. El proyecto tiene Nro.Referecia: ERANet17/ICT2-0059.
              3rd Multi-Thematic Joint Call 2017/2018. Su ejecución es de Marzo 2019
              a Marzo 2022. Salió aprobado sin subsidio por el MinCyT-Ministerio de
              Ciencia, Tecnología e Innovación Argentina.
              El mismo consiste en recopilar conocimientos y experiencias de sobrevivientes y testigos sobre
              desastres naturales, centralizarlos y disponerlos mediante un sitio de consulta para las escuelas
              primarias y secundarias, como también para la comunicación de riesgos a la sociedad y tomadores de
              decisiones.
            </p>
            <p>
              La exhibición de Citadine mostrará una cronología de las inundaciones de La Plata a partir de
              los testimonios y experiencias de las personas. Documentos originales, periódicos, fotos y entrevistas
              mostrarán la situación durante el desastre.
              Atendiendo los testimonios de los sobrevivientes, los visitantes podrán conocer lo que
              les sucedió, cómo actuaron y sobrellevaron tal situación.
              Todo se exhibirá de una manera gráfica y lúdica, mediante juegos y atracciones multimediales
              Contará con un mini cine y un área donde se podrá leer periódicos del momento y ver álbumes
              de fotos. Se contará con la visita de sobrevivientes para que los niños puedan hacerles entrevistas.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- boton para ir arriba -->
    {% include ('partials/_button.html') %}
  </main>
  <footer></footer>
  <!-- script -->
  <script>
    function keypress(e) {
      var KeyID = e.keyCode;
      switch (KeyID) {
        case 32:
          history.back()
          break;
        case 13:
          history.back()
          break;
        default:
          break;
      }
    }
  </script>
  <script src="../js/lixtbox.js"></script>
  {% endblock %}