  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de covid-->
    <main>
        <div class="container">
            <div class="main-card">
                <div id="covid" class="main-card-body" >
                    
                    
                    <div class="afiche__head">
                      <h1>Covid</h1>
                    </div> 
                    <div class="main-card-img-container">
                        
                      <img tabindex="0" role="img" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/covid1.png')}}" height="88px" aria-label="imagen de labarse las manos." alt="imagen de labarse las manos.">
                      <img tabindex="0" role="img" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/covid2.png')}}" height="88px" aria-label="imagen de barbijo." alt="imagen de barbijo.">
                      <img tabindex="0" role="img" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/covid3.png')}}" height="88px" aria-label="imagen de colocarse alcohol." alt="imagen de colocarse alcohol.">
                    </div>                   
                    <div class="main-card-info" tabindex="0">
                    <p>El propósito de este evento es como cierre del proyecto Citadine, 
                        realizar una exhibición que trate el tema de la inundación de La 
                    </p>
                    <p>    
                        Plata a través de la mirada y experiencia de los testigos y 
                        sobrevivientes. Es un recorrido por sus testimonios,
                    
                    <p> 
                        lo sucedido, lo vivenciado, cómo sobrellevaron tal situación. 
                        Cuenta con 6 secciones cronológicas, con atracciones interactivas 
                    </p>
                    <p>
                        educativas, que harán que el visitante pueda vivenciar desde los 
                        momentos previos a la inundación, hasta los siguientes. 
                    </p>
                    <p>   
                        Se considera también el tema de riesgos, cómo prepararse en 
                        este tipo de desastres y cómo actuar, además de observar casos 
                    </p>
                    <p>   
                        de catástrofes naturales  en otros países.
                        El proyecto Citadine fue seleccionado en el marco de la iniciativa 
                    </p>
                    <p>
                        ERANet-LAC EU-CELAC. de la Unión Europea (UE), América Latina y el 
                        Caribe (ALC) que han identificado actividades conjuntas de innovación 
                    </p>
                    <p>   
                        e investigación. El proyecto tiene Nro.Referecia: ERANet17/ICT2-0059.
                         3rd Multi-Thematic Joint Call 2017/2018. Su ejecución es de Marzo 2019
                    </p>
                    <p>   
                         a Marzo 2022. Salió aprobado sin subsidio por el MinCyT-Ministerio de
                           Ciencia, Tecnología e Innovación – Argentina.
                    </p>
                    <p>       
                        El mismo consiste en recopilar conocimientos y experiencias de sobrevivientes y testigos sobre 
                        desastres naturales, centralizarlos y disponerlos mediante un sitio de consulta para las escuelas
                    </p>
                    
                    <p>   
                        primarias y secundarias, como también para la comunicación de riesgos a la sociedad y tomadores de decisiones.
                 
                     </p>
                    <p>

                        La exhibición de Citadine mostrará una cronología de las inundaciones de La Plata a partir de 
                        los testimonios y experiencias de las personas. Documentos originales, periódicos, fotos y entrevistas 
                    </p>
                    <p>        
                        mostrarán la situación durante el desastre.
                        Atendiendo los testimonios de los sobrevivientes, los visitantes podrán conocer lo que 
                    </p>
                    <p>   
                        les sucedió, cómo actuaron y sobrellevaron tal situación.
                        Todo se exhibirá de una manera gráfica y lúdica, mediante juegos y atracciones multimediales
                    </p>
                    <p>   
                        Contará con un mini cine y un área donde se podrá leer periódicos del momento y ver álbumes 
                        de fotos. Se contará con la visita de sobrevivientes para que los niños puedan hacerles entrevistas.                        
                    </p>
                    </div>
                </div>
            </div>
          </div>
          <!-- boton para ir arriba -->
          {% include ('partials/_button.html') %}
    </main>
    <footer></footer>
    <!-- script -->
  <script src="../js/lixtbox.js"></script>
  {% endblock %}