  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de covid-->
    <main>
        <div class="container">
            <div class="main-card">
                <div id="covid" class="main-card-body" >
                    
                    
                    <div class="afiche__head">
                      <h1 tabindex="0">Protocolo Covid</h1>
                    </div> 
                    <div class="main-card-img-container">
                        
                      <img tabindex="0" role="img" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/covid1.png')}}" height="88px" aria-label="imagen de labarse las manos." alt="imagen de labarse las manos.">
                      <img tabindex="0" role="img" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/covid2.png')}}" height="88px" aria-label="imagen de barbijo." alt="imagen de barbijo.">
                      <img tabindex="0" role="img" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/covid3.png')}}" height="88px" aria-label="imagen de colocarse alcohol." alt="imagen de colocarse alcohol.">
                    </div>                   
                    <div class="main-card-info" tabindex="0">
                    <p>
                        Sobre la organización del evento
                        Las funciones se deberán realizar fuera de los horarios pico de transporte a fin de evitar aglomeramientos (18 hs en adelante de lunes a viernes, y los sábado, domingo y feriados sin limitación horaria). El número máximo de personas en forma simultánea en el escenario será aquel que garantice 1 persona en 15 m2.
                        
                        Sólo se permitirá la presencia de una dotación mínima e indispensable de personal necesario para realizar las tareas que requiere el armado, desarrollo y desarme del evento de forma de garantizar la distancia social mínima requerida. Será obligatorio el uso de tapabocas en todo momento.
                        
                        Se demarcaran los módulos de estacionamiento en el suelo de manera visible y clara. Los tamaños de los módulos de estacionamiento para automóviles serán de un mínimo de 2.5 metros de ancho por 5 metros de largo, a fin de garantizar una distancia libre entre los ocupantes de vehículos aledaños.
                        
                        Los sanitarios se encontrarán en una zona bien señalizada y fácil de ubicar, además estará supervisado por un colaborador garantizando que se respete el distanciamiento social de 1.5 metros entre personas y verificando que este sector se ventile con frecuencia.
                        
                        Para reducir la aglomeración de personas en lo que respecta a la utilización de los sanitarios, se deberá prever un sistema que permita organizar el desplazamiento de las personas desde los vehículos hasta los baños.
                        
                        Sobre el Público general
                        El organizador deberá tener un listado detallado del público asistente al evento, debiendo exigir la presentación de una Declaración Jurada en la cual se consignarán los datos personales de los concurrentes e indicando que no tienen síntomas referidos a COVID.
                        
                        Las entradas deberán ser adquiridas con antelación a la función por algún medio digital que implementaran los organizadores. Y el control de las mismas se realizará mediante un código QR o en la pantalla de un celular.
                        
                        Al ingreso y previo al uso de las instalaciones, y al egreso, los espectadores/clientes deberán higienizarse las manos con alcohol en gel o solución hidroalcohólica.
                        
                        En cada vehículo solo podrá coexistir un número tal de personas similar a la capacidad reglamentaria del mismo y se trate de grupo conviviente.
                        
                        Al llegar al lugar donde se desarrollará el evento, personal capacitado realizará la medición de temperatura corporal con un termómetro tipo infrarrojo digital sin contacto.
                        
                        El público deberá permanecer dentro de los vehículos o “Estructura de contención privada delimitante”, todo el tiempo con tapaboca. Sólo se lo podrá quitar para consumir alimentos o ingerir bebidas. Queda prohibido el ingreso al autoevento con ciclomotores, motocicletas, bicicletas y/o caminando.
                        
                        Los módulos “Estructura de contención privada delimitante” deberán estar distanciados entre sí a 2 metros a fin de garantizar una distancia libre entre los ocupantes de vehículos aledaños.
                        
                        Sobre venta de alimentos y bebidas
                        El pedido de la comida se realizará por medios telefónicos, por whatsapp o mediante alguna aplicación de celular.
                        
                        Los cubiertos, vasos, servilletas y platos deberán ser descartables y los residuos que se generen deberán mantenerse dentro de los vehículos y ser desechados por los concurrentes al regresar a su domicilio.

                    </p>
                    
                    </div>
                </div>
            </div>
          </div>
          <!-- boton para ir arriba -->
          {% include ('partials/_button.html') %}
    </main>

  {% endblock %}