  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de lenguaje-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div id="languaje" class="main-card-body" >
                  <div class="afiche__head">
                    <h1 tabindex="0">Lenguajes</h1>
                  </div>
                    <div class="main-card-img-container">
                        <img src="../img/general/otros/UK.webp" height="88px" alt="img 1">
                        <img src="../img/general/otros/spain.webp" height="88px" alt="img 2">
                    </div>
                    <div class="main-card-img-container">
                        <a role="button" tabindex="0" aria-label="Presiona enter para cambiar el idioma a inglés." class="boton verde-4">English</a>
                        <a role="button" tabindex="0" aria-label="Presiona enter para cambiar el idioma a español." class="boton verde-4">Spanish</a>
                    </div>
                    <div class="main-card-info txt_center">
                        <p>Click on the button to change </p>
                        <p>the language of the page.</p>
                    </div>
                </div>
            </div>
          </div>

            <div class="buttons">
                <div class="go-up">
                  <a role="button" tabindex="0" aria-label="Regresar al encabezado."  alt="Botón para regresar al encabezado." href="#afiche-header">
                      <img loading="lazy" src="../img/general/arrow-up.svg"  alt="imagen del botón para regresar al encabezado.">
                  </a>
                </div>
                <div class="main-container-boton tooltip">
                    <a role="button" tabindex="0" aria-label="Volver a la página anterior."  alt="Botón para volver la página anterior." class="boton verde-4" onclick="history.back()">
                      <div class="boton-info">
                        <p>Go back</p> <img src="../img/general/backArrow.svg" alt="backArrow">
                      </div>
                    </a>
                    <span class="tooltiptext">Botón para volver a la página anterior.</span>
                </div>
            </div>
    </main>
    <footer></footer>
        <!-- script -->
  <script src="../js/lixtbox.js"></script>
  {% endblock %}