  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de secciones-->
    
    <main>
        <div class="container">
            <div id="header" class="main-sections" >
                <!-- section y los tags en su interior son elementos  que pueden repetirse en un bucle sin necesidad de repetir tags-->
                <section class="main-section verde-2">
                    <div class="main-section-img">
                        <img loading="lazy" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/reporter.webp')}}" alt="img 4">
                    </div>
                    <div class="main-section-info">
                      <div id="contenido" tabindex="0">
                        <h3>Sección 1 - FROM RAIN TO FLOOD</h3>
                        <p>Momentos antes de la inundación. Conoce 4 casos impactantes y las noticias en la TV en ese momento. </p> <!--Moments before the flood. You can know 4 shocking cases and news on the TV at that moment.-->
                      </div> 
                        <a role="button" class="boton verde-4" href="/section-1"> Accede a la sección 1</a>
                    </div>
                </section>
                <!-- --------------------------------        ------------------------------             ------------------------- -->
                <section class="main-section verde-2">
                    <div class="main-section-img">
                        <img loading="lazy" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/map.webp')}}" alt="img 4">
                    </div>
                    <div  class="main-section-info">
                      <div tabindex="0">
                        <h3>Sección 2 - FOR LIFE AND LIMB</h3>
                        <p>El peor momento de la inundación. Accede a los testimonios de los 4 casos y a un simulador.  </p> <!--The worst time of the flood. You can access the testimonies of the 4 cases and a flood simulator.-->
                      </div>  
                        <a role="button" class="boton verde-4" href="/section-2"> Accede a la sección 2</a>
                    </div>
                </section>

                <section class="main-section verde-2">
                    <div class="main-section-img">
                        <img loading="lazy" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/flood.png')}}" alt="img 4" >
                    </div>
                    <div class="main-section-info">
                      <div tabindex="0">
                        <h3>Sección 3 - JUST RUBBLE AND MUD</h3>
                        <p>Mira las fotos mas impresionantes y el albúm de fotos compartido por las personas damnificadas.</p> <!--You can look at the most impressive photos and see the photo album shared by the people themselves affected. -->
                      </div>  
                        <a role="button" class="boton verde-4" href="/section-3"> Accede a la sección 3</a>
                    </div>
                </section>

                <section class="main-section verde-2">
                    <div class="main-section-img">
                        <img loading="lazy" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/think-out-of-the-box.webp')}}" alt="img 4">
                    </div>
                    <div  class="main-section-info">
                      <div tabindex="0">
                        <h3>Sección 4 - LARNINGS OF THE FLOOD</h3>
                        <p>Juega con la Sandbox AR y explora el efecto según el tipo de relieve. Además, conoce mas sobre las inundaciones urbanas y estudiar los motivos de por qué se inundan estas zonas. </p> <!--You can play with the Sandbox AR to explore the effect according to the type of relief. In addition, you can know more about urban floods and analyze other reasons as to why it floods these areas.-->
                      </div> 
                        <a role="button" class="boton verde-4" href="/section-4"> Accede a la sección 4</a>
                    </div>
                </section>

                <section class="main-section verde-2">
                    <div class="main-section-img">
                        <img loading="lazy" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/video-game.webp')}}" alt="img 4">
                    </div>
                    <div class="main-section-info">
                      <div  tabindex="0">
                        <h3>Sección 5 - BE PREPARED</h3>
                        <p>Prepararse es fundamental. Juega con la mochila de supervivencia y aprende donde estan los refugios mas cercanos a tu barrio. </p> <!--Preparing is the most important. You can play with the smart survival backpack and learn where the shelters near your neighborhood are.-->
                      </div>  
                        <a role="button" class="boton verde-4" href="/section-5"> Accede a la sección 5</a>
                    </div>
                </section>

                <section class="main-section verde-2">
                    <div class="main-section-img">
                        <img loading="lazy" class="main-section-icon" src="{{url_for('static', filename = 'img/general/otros/first-aid-kit.webp')}}" alt="img 4">
                    </div>
                    <div class="main-section-info">
                      <div tabindex="0">
                        <h3>Sección 6 - FLOODING ABROAD</h3>
                        <p>Ingresa al sitio web de Citadine con entrevistas de otros países. También puedes acceder a <span style="font-weight: bold; color: #36B000;"> juegos educativos realizados por estudiantes de la UNLP </span> y a los 4 testimonios de casos impactantes.</p>  <!--Access the Citadine site with interviews from other countries. You can also access educational games  made by UNLP students and the 4 shocking cases.-->
                      </div>  
                        <a role="button" class="boton verde-4" href="/section-6"> Accede a la sección 6</a>
                    </div>
                </section>
            </div>
          </div>
            
          <!-- boton para ir arriba -->
          {% include ('partials/_button.html') %}
    </main>

  {% endblock %}