<div class="buttons">     
    <!-- End Tap Target Structure -->
    <div class="main-container-boton ">
      <div class="main-container-boton tooltip">
        <a role="button" tabindex="0" aria-label="Volver a la página anterior."  alt="Botón para volver la página anterior." class="boton verde-4" onclick="history.back()">
          <div class="boton-info">
            <p>Volver a la página anterior</p> <img loading="lazy" height="56px" width="56px" src="{{url_for('static', filename = 'img/general/backArrow.svg')}}" alt="backArrow">
          </div>
        </a>
        <!-- <span class="tooltiptext">Botón para volver a la página principal.</span> -->
      </div>
    </div>             
</div>
