
<!-- boton para ir arriba -->
<div class="buttons">
    <div class="go-up">
      <a role="button" tabindex="0" aria-label="Regresar a la barra de navegación."  alt="Botón para regresar a la barra de navegación." href="#init">
          <img loading="lazy" src="{{url_for('static', filename = 'img/general/arrow-up.svg')}}"  alt="imagen del botón para regresar a la barra de navegación.">
      </a>
    </div>   
    <!-- End Tap Target Structure -->
    <div class="main-container-boton tooltip">
      <a role="button" tabindex="0" aria-label="Volver a la página principal."  alt="Botón para volver la página principal." class="boton verde-4" href="/">
        <div class="boton-info">
          <p>Volver</p> <img src="{{url_for('static', filename = 'img/general/backArrow.svg')}}" alt="backArrow">
        </div>
      </a>
      <span class="tooltiptext">Botón para volver a la página principal.</span>
    </div>             
</div>
