<!-- barra de secciones -->
<script src="{{url_for('static', filename = 'js/lixtbox.js')}}"></script>

<!-- photo-album.html / shocking-photos.html / water-leve-simulator.html -->
<script src="{{url_for('static', filename = 'js/lightgallery.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lg-zoom.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lg-thumbnail.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lg-video.min.js')}} "></script>

<!-- recomendacion-como-actuar.html / testimonio123  -->
<script src="{{url_for('static', filename = 'js/acordeon.js')}} "></script>