<!--SCRIPT'S GENERALES (ESTAN EN TODAS LAS PAGINAS) -->
<script src="{{url_for('static', filename = './js/index.js')}}"></script>

<!-- barra de secciones GENERAL-->
<script src="{{url_for('static', filename = 'js/lixtbox.js')}}"></script>
<script src="{{url_for('static', filename = 'js/sweetalert2@11.js')}}"></script>

<!-- photo-album.html / shocking-photos.html / water-leve-simulator.html -->
{% if flag_2 == "opcion_2" %}
<script src="{{url_for('static', filename = 'js/lightgallery.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lg-zoom.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lg-thumbnail.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lg-video.min.js')}} "></script>
{% endif %}

<!-- recomendacion-como-actuar.html / testimonio123  -->
{% if flag_2 == "opcion_3" %}
<script src="{{url_for('static', filename = 'js/acordeon.js')}} "></script>
{% endif %}
<!-- template del footer -->
<header class="header header-container footer-padding">
    <div>
      <!-- logo de citadine -->
      <div class="footer__centrar">
        <img tabindex="0" role="img" width="70%" height="70%" src="{{url_for('static', filename = 'img/general/footer3.png')}}" aria-label="Imagen del mapa de entrevistas." alt="Imagen del mapa de entrevistas.">
                             
      </div>    
      <div>
        <p>© 2022 | Todos los derechos reservados.</p> 
        <p>Oriana Ailigo | Sergio Aguilar | Yanina Tolaba</p>
       
      </div>      
      <div>
          
      </div>
    </div>
</header>