<!-- <header class="header-container"> -->
<header class="header header-container">
  
    <!-- logo de citadine -->
    <div class="header__img__h1">
      <a
        tabindex="0"
        href="#"
        aria-label="Presione enter para ir a la pagina principal."
      >
        <div role="banner" class="item__img__h1 txt_white">
          <img
            loading="lazy"
            width="130px"
            height="130px"
            class="wh-88"
            src="{{url_for('static', filename = './img/general/flooded-house.png')}}"
            alt="Logo de citadine."
          />
          <div class="header__left">
            <div>
              <h1 class="generar-conciencia">
                Generar <span>con</span>ciencia
              </h1>
            </div>
            <div>
              Experiencias y conocimientos sobre las inundaciones de La Plata
            </div>
          </div>
        </div>
      </a>
      <!-- <small> La muestra contará con 6 áreas o secciones de exhibición, que deben recorrerse en forma secuencial,
          puesto que aborda la temática en forma cronológica.
          Además, se analiza la inundación desde la perspectiva de 4 casos diferentes de personas que relatan sus
          experiencias y lo sucedido antes, durante y después de vivenciarla.
        </small> -->
    </div>
</header>


