
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!-- color e icono IOS -->
    <meta name="theme-color" content="#317EFB"/>
    <link rel="apple-touch-icon" href="{{url_for('static', filename = 'img/general/flooded-house.png')}}">
    <meta name="descripción" content="Informarte sobre los desastres naturales en Polonia, Alemania, Republica Dominicana, Chile y Argentina. Descubre que pasó antes, durante y después de la inundación de la Plata en 2013.">
    <!--Responsive Meta Tag-->
    <link rel="shortcut icon" href="{{url_for('static', filename = './img/general/otros/tree.webp')}}" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- APARTIR DE ACA SE VA ARMAR LA DISTRIBUCION DE LINKS Y SCRIPTS -->
  
    <!-- ESTILOS GENERALES (ESTAN EN TODAS LAS PAGINAS) -->
    <link rel="preload" href="{{url_for('static', filename = './css/normalize.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/normalize.css')}}">
  
    <link rel="preload" href="{{url_for('static', filename = './css/main.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/main.css')}}">
    
    <link rel="preload" href="{{url_for('static', filename = './css/lixtbox.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/lixtbox.css')}}">

    <!-- index.html -->
    {% if flag_1 == "index" %}
    <link rel="preload" href="{{url_for('static', filename = './css/chat.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/chat.css')}}">  
    {% endif %}

    <!-- diario.html / Conclusiones-del-evento.html & Inundaciones-en-el-exterior.html-->
    {% if flag_1 == "opcion_1" %}
    <link rel="preload" href="{{url_for('static', filename = './css/diario.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/diario.css')}}"> 
    {% endif %}

    <!-- photo-album.html / shocking-photos & water-level-simulator.html use this-->
    {% if flag_1 == "opcion_2" %}
    <link rel="preload" href="{{url_for('static', filename = './css/lightgallery-bundle.min.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/lightgallery-bundle.min.css')}}">    
    {% endif %}
    

    <!-- photo-album.html -->
    {% if flag_3 == "opcion_3" %}
    <link rel="preload" href="{{url_for('static', filename = './css/libro.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/libro.css')}}">    
    {% endif %}

    <!-- recomendacion-como-actuar.html / testimonio123 -->
    {% if flag_1 == "opcion_4" %}
    <link rel="preload" href="{{url_for('static', filename = './css/testimonios.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/testimonios.css')}}">

    <link rel="preload" href="{{url_for('static', filename = './css/minAcordeon.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/minAcordeon.css')}}">
    {% endif %}

    <!--diario.html / Conclusiones-del-evento.html & Inundaciones-en-el-exterior.html -->
    {% if flag_1 == "opcion_5" %}
    <link rel="preload" href="{{url_for('static', filename = './css/diario.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = './css/diario.css')}}">    
    {% endif %}
    

    <!--SCRIPT'S GENERALES (ESTAN EN TODAS LAS PAGINAS) -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{url_for('static', filename = './js/index.js')}}"></script>
    <title>Mock</title>
  </head>