
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- color e icono IOS -->
    <meta name="theme-color" content="#317EFB"/>
    <link rel="apple-touch-icon" href="{{url_for('static', filename = 'img/general/flooded-house.png')}}">
    <meta
    name="descripción"
    content="Informarte sobre los desastres naturales en Polonia, Alemania, Republica Dominicana, Chile y Argentina. Descubre que pasó antes, durante y después de la inundación de la Plata en 2013.">
    
    <!--Responsive Meta Tag-->
    <link rel="shortcut icon" href="{{url_for('static', filename = './img/general/otros/tree.webp')}}" type="image/x-icon">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <!-- watson asistant -->
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/chat.css')}}">
    <!-- demas stilos -->
    <link rel="preload" href="{{url_for('static', filename = '/css/normalize.css')}}" as="style">
    
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/normalize.css')}}">
  
    <link rel="preload" href="{{url_for('static', filename = '/css/main.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/main.css')}}">
    
    <link rel="preload" href="{{url_for('static', filename = '/css/lixtbox.css')}}" as="style">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/lixtbox.css')}}">
  
    <!-- CSS del testimonio -->
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/testimonios.css')}}">
    <!-- CSS del acordeon -->
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/minAcordeon.css')}}">
  
    <!--Import jQuery Library-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  
    <script src="{{url_for('static', filename = '/js/index.js')}}"></script>

  
    <title>Mock</title>
  </head>