<!-- boton para ir arriba -->
<div class="buttons">
    <div class="go-up">
      <a role="button" tabindex="0" aria-label="Regresar al encabezado."  alt="Botón para regresar al encabezado." href="#afiche-header">
          <img loading="lazy" src="{{url_for('static', filename = '../img/general/arrow-up.svg')}}"  alt="imagen del botón para regresar al encabezado.">
      </a>
    </div>   
    <!-- End Tap Target Structure -->
    <div class="main-container-boton tooltip">
      <a role="button" tabindex="0" aria-label="Volver a la página anterior."  alt="Botón para volver la página anterior." class="boton verde-4" onclick="history.back()">
        <div class="boton-info">
          <p>Go back</p> <img src="../img/general/backArrow.svg" alt="backArrow">
        </div>
      </a>
      <span class="tooltiptext">Botón para volver a la página anterior.</span>
    </div>             
</div>