
    <!-- Contenedor del testimonio -->
    {% extends 'partials/_layout.html' %}
    {% block body %}
    <!-- Info de Alemania-->
  <main>
    <!-- <main class="contenedor-testimonio"> -->
    <div class="container">
      <div class="main-card">
        <div class="main-card-body">
          <div id="afiche-header" class="afiche__head">
            <h1 tabindex="0" class="centrar-texto"> LA TORMENTA DEL SIGLO EN EL
              MAR DEL NORTE (1962).</h1>
          </div>

          <div class="grid__container">
            <div tabindex="0" class="grid__columna">
              <!-- <h2> ¿Qué es un tsunami y cómo se genera? </h2> -->
              <div class="grid__texto">
                <p>
                  En la noche del 16 al 17 de febrero de 1962, el norte de
                  Alemania se ve sorprendido en plena noche por una tormenta.
                  El huracán Vincinette hace estragos en el Mar del Norte y
                  empuja el agua hacia la bahía alemana y el río Elba, golpeando
                  especialmente la ciudad de Hamburgo. La tormenta impide que
                  las masas de agua se escurran. Los árboles, las casas y los diques
                  no tienen ninguna posibilidad. El huracán y sus inundaciones
                  dejan enormes daños en las zonas afectadas y pasan a la historia
                  como uno de los acontecimientos más devastadores de la
                  posguerra.
                </p>

              </div>
              <div class="grid__image">
                <img width="50%" height="50%" alt="imagen 1." aria-label="imagen 1." role="img" src="{{url_for('static', filename = 'img/afiches/alemania1.webp')}}"
                  >
                <small>Foto: Rogge, Enno.</small>
              </div>
              <!-- imagen-1 -->
              <div class="grid__texto">
                <h2 class="mg-top">¿Qué impacto tuvo la inundación?</h2>
                <p>
                  En Hamburgo, el agua está más alta que nunca. Casi una quinta
                  parte de la superficie de la ciudad está cubierta. En todo el norte
                  de Alemania murieron 340 personas, y 315 de ellas sólo en
                  Hamburgo. También es duro para los supervivientes, que de un
                  día para otro pierden su alojamiento y sus posesiones. Así, de un
                  plumazo, miles de personas de la ciudad y sus alrededores se ven
                  privadas de su medio de vida.
                </p>
                <h2>¿Cómo ha podido ocurrir esto?</h2>
                <p>
                  Esta misma mañana, las autoridades emiten los primeros
                  avisos de fuerte temporal para la costa del Mar del Norte. Pero
                  Hamburgo no se menciona hasta el final. A última hora de
                  la tarde, el servicio de noticias más importante de Alemania,
                  „Tagesschau“, intenta hacer comprender a los habitantes la
                  gravedad de la situación. Pero los habitantes de Hamburgo
                  dan por hecho que se mantendrá con los sótanos llenos y con
                  pequeñas inundaciones, como ha ocurrido tantas veces este
                  invierno. Mientras los habitantes de las demás zonas costeras,
                  acostumbrados al peligro de la crecida, se desplazan a zonas más
                  altas, los habitantes de Hamburgo piensan que están a salvo y
                  se van a dormir. Luego, cuando llega la inundación, la ciudad
                  duerme.
                </p>
              </div>
            </div>
            <!-- Fin columna-1 -->

            <div tabindex="0" class="grid__columna">
              <div class="grid__texto">
                <p>
                  En otros lugares, las autoridades evalúan mejor el peligro y
                  encuentran palabras claras para advertir a la población. Allí se
                  toman las medidas oportunas de forma temprana: Se dispone
                  de refugios de emergencia antes de la inundación y se refuerzan
                  los diques. Pero, a más tardar, cuando se rompe la presa de
                  Cuxhaven (otra ciudad costera), está claro que una inundación
                  sin precedentes se acerca a las zonas en peligro. Los sistemas
                  de reconocimiento, alerta y planes de evacuación de la ciudad
                  son anticuados y caóticos. Falta un enfoque sistemático, por lo
                  que mucha gente no se toma en serio la situación o permanece
                  desinformada hasta el final.
                </p>
              </div>

              <div class="grid__image">
                <img width="50%" height="50%" alt="imagen 1." aria-label="imagen 1." role="img" src="{{url_for('static', filename = 'img/afiches/alemania2.webp')}}">
                <small>Foto: Rogge, Enno.</small>
              </div>
              <!-- imagen-2 -->

              <div class="grid__texto">

                <h2 class="mg-top">Las consecuencias</h2>
                <p>
                  La tormenta no termina hasta 20 horas después. Muchos de los
                  diques se rompen y simplemente son arrastrados a otros lugares.
                  Con la ayuda de las Fuerzas Armadas alemanas y algunas tropas
                  extranjeras, las fuerzas de emergencia se ocupan de las cerca
                  de 50.000 personas atrapadas por la inundación, las rescatan
                  de los tejados y les proporcionan los alimentos y el refugio más
                  necesarios. Las fuerzas y los voluntarios se unen para ayudar a la
                  recuperación y la reconstrucción.
                </p>

                <p>
                  El deterioro de la situación higiénica supone un nuevo riesgo.
                  En Hamburgo, el suministro de agua se ha contaminado, casi la
                  mitad del suministro de agua potable está fallando y hay riesgo
                  de epidemias. Una campaña de vacunación a gran escala contra
                  el tifus es para prevenir lo peor.
                </p>

                <p>
                  La ciudad y sus habitantes tardan en recuperarse, pero Hamburgo
                  ha aprendido de sus errores. Se modernizan los sistemas de
                  alarma, los planes de evacuación y la protección del litoral. Se
                  elevan los diques y se mejoran las medidas de protección en toda
                  la zona costera. Cuando una marea de tormenta aún más alta
                  golpea los diques en 1976, éstos aguantan.
                </p>

              </div>
            </div>
            <!-- Fin columna-2 -->
          </div>
        </div>
      </div>
    </div>
    <!-- boton para ir arriba -->
    {% include ('partials/_button_anterior.html') %}
  </main>

  {% endblock %}