  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de Polonia-->
  <main>
    <!-- <main class="contenedor-testimonio"> -->
    <div class="container">
      <div class="main-card">
        <div class="main-card-body">
          <div id="afiche-header" class="afiche__head">
            <h1 tabindex="0" class="centrar-texto text-shadow"> INUNDACIONES EN POLONIA 1997.</h1>
          </div>

          <div class="grid__container">
            <div tabindex="0" class="grid__columna">
              <!-- <h4> ¿Qué es un tsunami y cómo se genera? </h4> -->
              <div class="grid__texto">
                <p>
                  En el verano del año 1997, Polonia fue objeto de una
                  inundación. Llovió exageradamente durante mucho tiempo.
                  La gran cantidad de agua ya no entraba en el rio Oder y debido a
                  eso se desbordó. Por eso a este evento se le llama la
                  inundación del rio Oder. El nivel del agua del rio nunca había sido
                  tan alto como en el mes de julio de 1997. La República Checa y
                  Alemania también se vieron afectadas por la crecida del rio.
                </p>
                
              </div>
              <div class="grid__image">
                <img src="{{url_for('static', filename = 'img/afiches/polonia1.webp')}}"
                >
                <small>Foto: ndemi, Flickr, CC BY-SA 2.0, Wikimedia Commons.</small>
              </div>
              <!-- imagen-1 -->
              <div class="grid__texto">
                <h4 class="mg-top">¿Cómo se originó la inundación en Polonia?</h4>
                    <p>
                      Del 3 al 10 de julio de 1997 llovió mucho en Polonia y como
                      consecuencia el rio Oder se desbordó.
                      El 10 de julio de 1997, una gran parte del sur de Polonia sufrió
                      una gran inundación, que afectó fuertemente a las ciudades de
                      Opole y Racibórz.
                    </p>
                    <p>
                      El 12 de julio de 1997, se les dio aviso a través de los medios de
                      comunicación -radio y televisión- a todos los habitantes de la
                      ciudad de Wroclaw sobre la inundación. Allí hay un lugar llamado
                      Isla de las Catedrales y los residentes de ahí llenaron sacos de
                      arena para construir una represa y así
                      proteger la Isla de la Catedral de la fuerte inundación, pero el
                      agua llego más rápido de lo que se esperaba.
                    </p>
                    <p>
                      La mayoría de las casas y apartamentos se llenaron de agua,
                      aunque los residentes tomaron medidas de protección, los
                      vecinos se mantuvieron unidos y se ayudaron mutuamente
                      compartiendo sus provisiones, siguieron al tanto de las noticias
                      para informarse sobre la inundación.Es necesario mencionar que
                      Polonia no estaba preparada para este incidente. Algunas
                      personas no se tomaron en serio las advertencias sobre esta
                      terrible inundación. Muchos otros pueblos y ciudades se vieron
                      afectados y quedaron totalmente destruidos y a causa de ello
                      muchas personas perdieron sus pertenencias y se quedaron sin
                      nada.
                    </p>
              </div>
            </div>
            <!-- Fin columna-1 -->

            <div tabindex="0" class="grid__columna">
              <div class="grid__texto">
                <h4 class="mg-top">¿Qué pasó después de la inundación?</h4>
                <p>
                  Afortunadamente, hubo muchos voluntarios que suministraban
                  alimentos a los habitantes. Como el agua seguía siendo muy
                  alta, atravesaron en barca las ciudades destruidas. Los médicos
                  acudieron al lugar y atendieron a los heridos junto con los
                  policías, bomberos y militares que también ayudaron a construir
                  represas asegurándose de que ninguna casa fuera destruida.
                </p>
              </div>

              <div class="grid__image">
                <img src="{{url_for('static', filename = 'img/afiches/polonia2.webp')}}">
                <small>Foto: Wikimedia Commons.</small>
              </div>
              <!-- imagen-2 -->

              <div class="grid__texto">
                <p>
                  La isla de la catedral de Wroclaw estaba protegida por los sacos
                  de arena. Las medidas de protección adoptadas por los residentes
                  marcaron la diferencia y esta vez fueron capaces de resistir la
                  inundación.
                </p>
                
                  <h4>¿Cuáles son las consecuencias de la
                    inundación en Polonia?</h4>
                  <p>
                    Existen muchas consecuencias, pero a continuación mencionamos
                    las más resaltantes.
                  </p>

                <p>
                  
                  • Miles de personas perdieron sus hogares en la inundación.
                </p>

                <p>
                  • 54 personas murieron.
                </p>

                <p>
                  • 106.000 personas fueron reubicadas para ser rescatadas.
                </p>

                <p>
                  • 47.000 edificios fueron destruidos.
                </p>

                <p>
                  • 937 escuelas y guarderías fueron destruidas.
                </p>

                <p>
                  • 261 hospitales fueron destruidos.  
                </p>

                <p>
                  Hoy Polonia está mejor preparada para una inundación. Se
                  han tomado medidas para controlar el Oder, pero sin embargo
                  Polonia aún no puede luchar contra una inundación como la del
                  año 1997.
                </p>
                <p>
                  Los avisos de inundación deben tomarse siempre en serio, por eso
                  es importante conocer sobre el tema y prepararse bien para saber
                  cómo actuar ante ello.
                </p>
              </div>
            </div>
            <!-- Fin columna-2 -->
          </div>
        </div>
      </div>
    </div>
    <!-- boton para volver a arriba -->
    {% include ('partials/_button_anterior.html') %}
  </main>
  
  {% endblock %}