/* Error: expected "{".
 *     ,
 * 616 | >>>>>>> aa9580ad3b3cd0b865b12a66d1ca062ff7a042aa
 *     |                                                 ^
 *     '
 *   static\scss\_globals.scss 616:49  @import
 *   static\scss\main.scss 3:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 616 \2502  >>>>>>> aa9580ad3b3cd0b865b12a66d1ca062ff7a042aa\d\a     \2502                                                  ^\a     \2575 \a   static\\scss\\_globals.scss 616:49  @import\a   static\\scss\\main.scss 3:9         root stylesheet';
}
