/* Error: expected "{".
 *     ,
 * 286 | >>>>>>> 994da584a13c9a4e21d4128e6c6522b0b1bab585
 *     |                                                 ^
 *     '
 *   static\scss\_globals.scss 286:49  @import
 *   static\scss\main.scss 3:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 286 \2502  >>>>>>> 994da584a13c9a4e21d4128e6c6522b0b1bab585\d\a     \2502                                                  ^\a     \2575 \a   static\\scss\\_globals.scss 286:49  @import\a   static\\scss\\main.scss 3:9         root stylesheet';
}
