/* 
  .accordion-trigger {
    background: none;
    color: hsl(0deg 0% 13%);
    display: block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 1em 1.5em;
    position: relative;
    text-align: left;
    width: 100%;
    outline: none;
  }
  
  .accordion-icon {
    border: solid currentColor;
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 0.5rem;
  }
  
  .accordion-trigger[aria-expanded="true"] .accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
  }
   */

 .boton-acordeon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1px;
    background-color: #479949;
    border: 4px solid #479949;
    box-shadow: 10px 6px 5px -2px rgb(0 0 0 / 75%);
    color: black;
    cursor: pointer;
    padding: 2rem;
 }  

 .accordion{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 2rem;
 }