.contenedor-video{
    display: flex;
    flex-direction: column;

}
.centrar-texto{
    text-align: center;
    color: #fff;
    /* font-family: 'Open Sans Pro'; */
}
.no-margin{

}
.video__informacion{
    color: #ffffff;
    padding:0 4rem !important;
    text-align: start;
}

.video__descripcion{
    color: #ffffff;
    padding:0 1rem !important;
    
}

.a-link{
    color: #2196F3;
}

.a-link:hover,.a-link:focus, .a-link:focus-within{
    color: #5baef1;
    text-decoration: underline;
}