{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de seccion 5-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div class="main-card-header afiche__head">
                 
                    <h1 id="contenido" tabindex="0">Sección 5: Be prepared.</h1>
                </div>
                <div class="main-card-body">
                    <div class="main-card-img-container">
                        <img class="wh-256" src="{{url_for('static', filename = 'img/afiches/quehacer-Imagen1.webp')}}" alt="imagen de cómo actuar en una inundación.">
                    </div>
                   
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/recomendacion-como-actuar">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a recomendaciones de cómo actuar.">
                                <p>Recomendaciones de cómo actuar</p> <img class="wh-37" src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" alt="Botón.">
                            </div>
                        </a>
                    </div>

                    <div class="main-card-img-container">
                        <img class="wh-256" src="{{url_for('static', filename = 'img/section5/mochila.webp')}}" alt="imagen de una mochila.">
                    </div>
                   
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="mochila-inteligente">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a mochila inteligente de supervivencia.">
                                <p>Mochila inteligente de supervivencia</p> <img class="wh-37" src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" alt="Botón.">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img class="wh-256" src="{{url_for('static', filename = 'img/section5/mapaNiño-1.webp')}}" alt="imagen de un niño con un mapa.">
                    </div>
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="dondeir">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a Dónde ir: Centro de evacuación.">
                                <p>Dónde ir: Centro de evacuación</p> <img class="wh-37" src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" alt="Botón.">
                            </div>
                        </a>
                    </div>

                    <div class="main-card-img-container">
                        <img class="wh-256" src="{{url_for('static', filename = 'img/section5/unknown.webp')}}" alt="imagen de un mando de juego.">
                    </div>
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="educational-games">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a juegos educativos.">
                                <p>Juegos educativos</p> <img class="wh-37" src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" alt="Botón.">
                            </div>
                        </a>
                    </div>
                   
                </div>
            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}
    </main>

{% endblock %}