{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de seccion 6-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div class="main-card-header afiche__head">
                 
                    <h1 id="contenido" tabindex="0">Sección 6: Flooding abroad.</h1>
                </div>
                <div class="main-card-body">
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/section6/citadine.webp')}}" height="160px" alt="Logo de Citadine.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4 citadineAzul" href="#">
                            <div class="boton-info" aria-label="Presione enter si desea ir a Citadine - Desastres naturales.">
                                <p>Ir a Citadine - Desastres naturales</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="botón.">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/section6/citadine.webp')}}" height="160px" alt="Logo de citadine.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4 citadineVerde" href="#">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a Citadine - Soluciones basadas en la naturaleza">
                                <p>Ir a Citadine - Soluciones basadas en la naturaleza</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="botón.">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/afiches/alemania1.png')}}" height="160px" alt="Foto: Rogge, Enno.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/Inundaciones-en-el-exterior">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a inundaciones en el exterior.">
                                <p>Inundaciones en el exterior</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="botón.">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/afiches/memoria-Imagen1.png')}}" height="160px" alt="Foto: Alagos, Flickr, CC BY-NC-SA 2.0.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/Conclusiones-del-evento">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a conclusiones del evento.">
                                <p>Conclusiones del evento</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="Botón.">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}
    </main>

{% endblock %}