{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de seccion 6-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div class="main-card-header afiche__head">
                 
                    <h3>Section 6: Flooding abroad.</h3>
                </div>
                <div class="main-card-body">
                    <div class="main-card-img-container">
                        <img src="../img/section6/citadine.webp" height="160px" alt="imagen de una niña.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="#citadine">
                            <div class="boton-info">
                                <p>Go citadine Blue</p> <img src="../img/people/webp/handPointUp.webp" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="../img/section6/citadine.webp" height="160px" alt="imagen de una niña.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="#citadine">
                            <div class="boton-info">
                                <p>Go citadine Green</p> <img src="../img/people/webp/handPointUp.webp" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="../img/afiches/alemania1.png" height="160px" alt="imagen de una niña.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="../Inundaciones-en-el-exterior.html">
                            <div class="boton-info">
                                <p>Inundaciones en el exterior</p> <img src="../img/people/webp/handPointUp.webp" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="../img/afiches/memoria-Imagen1.png" height="160px" alt="imagen de una niña.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="../Conclusiones-del-evento.html">
                            <div class="boton-info">
                                <p>Conclusiones del evento</p> <img src="../img/people/webp/handPointUp.webp" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="main-container-boton tooltip">
                <a role="button" tabindex="0" aria-label="Volver a la página anterior."  alt="Botón para volver la página anterior." class="boton verde-4" onclick="history.back()">
                  <div class="boton-info">
                    <p>Go back</p> <img src="../img/general/backArrow.svg" alt="backArrow">
                  </div>
                </a>
                <span class="tooltiptext">Botón para volver a la página anterior.</span>
            </div>
        </div>
    </main>

    <!-- script -->
    <script src="../js/lixtbox.js"></script>
{% endblock %}