{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de seccion 1-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div class="main-card-header afiche__head">
                 
                    <h1 tabindex="0">Sección 1: From rain to flood.</h1>
                </div>
                <div class="main-card-body">
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster1.webp')}}" height="214px" alt="imagen de una niña.">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster2.webp')}}" height="214px" alt="img 3">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster3.webp')}}" height="214px" alt="imagen de una tele.">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster4.webp')}}" height="214px" alt="img 3">


                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/testimonio1">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a Conoce nuestros testimonios: Before the flood">
                                <p>Conoce nuestros testimonios: Before the flood</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <!-- <img src="{{url_for('static', filename = 'img/section1/section1-niña.png')}}" height="88px" alt="imagen de una niña."> -->
                        <img src="{{url_for('static', filename = 'img/section1/section1-tv.png')}}" height="88px" alt="imagen de una tele.">
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/the-news-of-the-day">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a las noticias del día.">
                                <p>Las noticias del día</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/afiches/radio-Imagen2.png')}}" height="88px" aria-label="Foto: Radio Portatil Winco Dual AM - FM analógica." alt="Foto: Radio Portatil Winco Dual AM - FM analógica.">
                        <!-- <img src="{{url_for('static', filename = 'img/afiches/radio-y-niño.png')}}" aria-label="Foto: Un niño escuchando la radio." alt="Foto: Un niño escuchando la radio."> -->
        
                    </div>
                    
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="la-ayuda-de-la-radio">
                            <div class="boton-info" aria-label="Presione enter si desea acceder a la ayuda de la radio.">
                                <p>La ayuda de la radio</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}
    </main>

{% endblock %}