{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de seccion 3-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div class="main-card-header  afiche__head">
                    <h1>Section 3: Just rubble and mud.</h1>
                </div>
                <div class="main-card-body">
                    
                    <div class="main-card-img-container" tabindex="0" aria-label="encabezado con fotos. header with photograph's.">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster1.webp')}}" height="214px" alt="imagen 1.">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster2.webp')}}" height="214px" alt="imagen 2.">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster3.webp')}}" height="214px" alt="imagen 3.">
                        <img src="{{url_for('static', filename = 'img/people/webp/poster4.webp')}}" height="214px" alt="imagen 4.">
                    </div>
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/testimonio2">
                            <div class="boton-info">
                                <p>Know our testimonies: During the flood</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="Imagen de los 4 testimonios.">
                            </div>
                        </a>
                    </div>
                    
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/section3/News.png')}}" height="200px" alt="imagen de un periódico.">
                    </div>
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/diarios">
                            <div class="boton-info">
                                <p>Diarios</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>

                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/section3/shok.webp')}}" height="200px" alt="imagen de una foto impactante.">
                    </div>
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/shocking-photos">
                            <div class="boton-info">
                                <p>Shocking photos</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="backArrow">
                            </div>
                        </a>
                    </div>
                    
                    
                    <div class="main-card-img-container">
                        <img src="{{url_for('static', filename = 'img/section3/album.png')}}" height="200px" alt="imagen de un album de fotos.">
                    </div>
                    <div class="main-container-boton">
                        <a class="boton verde-4" href="/photo-album">
                            <div class="boton-info">
                                <p>Photo album</p> <img src="{{url_for('static', filename = 'img/people/webp/handPointUp.webp')}}" height="88px" alt="Photo album">
                            </div>
                        </a>
                    </div>
                   
                </div>
            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}
    </main>

    <!-- script -->
    <script src="../js/lixtbox.js"></script>
{% endblock %}