  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de conclusiones del evento-->
  <main>
        <div class="main-card">
            <div class="main-card-body">               
                <div id="afiche-header" class="afiche__head">
                    <h1 id="contenido" class="centrar-texto" tabindex="0">Conclusiones del evento</h1>
                </div>
                <div class="centrar-texto" tabindex="0">
                    <p>
                        El evento Generar CONciencia: conocimientos y experiencias sobre las inundaciones de La Plata trata de abordar el tema de la inundación de La Plata desde la perspectiva de los testigos y sobrevivientes.
                    </p>    
                    <p>
                        A pesar de las dificultades de los momentos vividos, del dolor y desesperación,en casi todos los relatos coinciden en rescatar la solidaridad y la fuerza para sobrellevar tal momento.
                    </p>
                    <p>
                        Seleccione alguno de las tapas de las conclusiones para acceder a dicha información.
                    </p>
                </div>
                <div class="main-card-info">
                    <div class="card-container">
                        <div role="img" class="card back-conclusiones-1" tabindex="1" aria-labelledby="diario-1">
                            <!-- <img src="./img/diarios/eldia_logo.png" alt=""> -->

                            <div class="button__container hide__only720">
                                <a href="/la-importancia-de-la-solidaridad" class="button__custom--fit verde-1"> La importancia de la solidaridad.</a>
                            </div>
                        </div>
                        <div role="img" class="card back-conclusiones-2" tabindex="3" aria-labelledby="diario-2">
                            <!-- <img src="./img/diarios/Hoy_logo.png" alt=""> -->
                            
                            <div class="button__container hide__only720">
                                <a href="/reflexiones-de-los-entrevistados" class="button__custom--fit verde-1"> Reflexiones de los entrevistados.</a>
                            </div>
                        </div>
                        <div role="img" class="card back-conclusiones-3" tabindex="5" aria-labelledby="diario-3">
                            <!-- <img src="./img/diarios/Diagoanles_logo.png" alt=""> -->
                            
                            <div class="button__container hide__only720">
                                <a href="/legado-memoria" class="button__custom--fit verde-1"> El legado de la memoria.</a>
                            </div>
                        </div>
                        <!-- <div class="card" tabindex="5" aria-labelledby="diario-3">
                          <div class="card__info">
                              <h3>La ayuda de la radio</h3>
                              <p>Hecho por </div>
                          <div class="button__container hide__only720">
                              <a href="/la-ayuda-de-la-radio" class="button__custom--fit verde-1">La ayuda de la radio.</a>
                          </div>
                        </div> -->
                        

                    </div>
                    <div class="card-container hide_btn">
                        <div class="button__container">
                            <a role="button" href="/la-importancia-de-la-solidaridad" tabindex="2" class="button__custom--fit verde-1" id="diario-1"> La solidaridad. </a>
                        </div>
                        <div class="button__container">
                            <a role="button" href="/reflexiones-de-los-entrevistados" tabindex="4" class="button__custom--fit verde-1" id="diario-2"> Las reflexiones. </a>
                        </div>
                        <div class="button__container">
                            <a role="button" href="/legado-memoria" tabindex="6" class="button__custom--fit verde-1" id="diario-3"> El legado de la memoria. </a>
                        </div>
                        <!-- <div class="button__container">
                          <a role="button" href="/la-ayuda-de-la-radio" tabindex="6" class="button__custom--fit verde-1" id="diario-3"> La ayuda de la radio. </a>
                        </div> -->
                        
                    </div>
                </div>

      </div>

        </div>
    <!-- boton para ir arriba -->
    {% include ('partials/_button.html') %}  
  
  </main>

  <!-- FIN Info de conclusiones del evento-->
  {% endblock %}
