  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info del Contenedor del video-->
  <main>
   
        <div class="main-card">
          <div class="main-card-body">
            <div id="afiche-header" class="afiche__head">
              <h1 id="contenido" tabindex="0" class="centrar-texto">Catástrofes naturales</h1>
            </div>
            
                
                <!-- detalles del video -->
                <div tabindex="0" class="grid__texto flex__container_dondeir">
                    
                    <div class="video__descripcion">
                      <p >
                        El proyecto Citadine – Ciencia ciudadana para la gestión de catástrofes y soluciones basadas en la naturaleza- desarrolló el sitio sobre catástrofes naturales. El mismo incluye  las entrevistas realizadas a testigos y sobrevivientes de la inundación de la ciudad de La Plata como de otras catástrofes del exterior. Se encuentran entrevistas de Alemania, Polonia, República Dominicana y Chile. 
                        Cliquee en el botón para acceder al sitio de Catástrofes naturales del proyecto Citadine. Se abrirá una pestaña del navegador para el acceso al mismo.
                        
                      </p>
                    </div>
                    
                   
                    <!-- 1 imagen -->
                    <div  class="grid__container__2">
                      <div class="grid__image">
                              <img tabindex="0" role="img" width="100%" height="100%" src="{{url_for('static', filename = 'img/section6/desastre.webp')}}" aria-label="Imagen del Sitio web de desastres naturales." alt="Imagen del Sitio web de desastres naturales.">
                              
                                <small class="contenedor__text" style="width: 50%;">
                                    Foto: Sitio web de desastres naturales."
                                </small>
                        </div>
                    </div>
                    
                    <!-- boton jugar-->
                    <div tabindex="0" class="verde-4 boton" style="width: 50%;">
                      <a aria-label="Ir al sitio de Citadine -catástrofes." class="citadineAzul" style="color: rgb(255, 255, 255);" > Ir al sitio de Citadine -catástrofes </a>
                    </div>
                  
                </div>
                <!-- fin del contenedor   -->
            
          </div>
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  
  </main>
  
 <!-- FIN Info del contenedor de video -->
 {% endblock %}