<!-- Contenedor del testimonio -->
{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de diarios-->
<main>
    <div class="main-card">
        <div id="contenido" class="main-card-body">
            <div id="afiche-header" class="afiche__head">
                <h1 tabindex="0" class="centrar-texto">Diarios del momento</h1>
            </div>
            <div tabindex="0" class="video__descripcion">
                <p>
                    En esta sección se puede acceder a las publicaciones sobre las inundaciones de La Plata emitidas por los medios gráficos. 
                 </p>
                <p>
                    Seleccione algunos de los diarios para acceder a la edición del día despúes, o sea del 3 de Abril de 2013.
               
                </p>
            </div>
            

            <div class="main-card-info" >
                <div class="card-container">
                    <div class="card__diario blue__grad-1" tabindex="2" aria-labelledby="Diario el día."
                        alt="Tapa del diario El Día." aria-label="Tapa del diario El Día."> 
                        <div class="button__container button_position hide__only720">
                            <button
                                onclick=`window.location.href="https://www.eldia.com/nota/2013-4-3--el-agua-ya-esta-en-un-metro-y-medio-por-favor-que-alguien-nos-mande-botes"
                                ` aria-label="Presione enter si desea acceder al diario El Dia."
                                class="button__custom--fit verde-1"> El Día</button>
                        </div>
                    </div>
                    <div class="card__diario blue__grad-2" tabindex="4" aria-labelledby="Diario hoy." 
                    alt="Tapa del diario Hoy." aria-label="Tapa del diario Hoy.">
                        <div class="button__container button_position hide__only720">
                            <button
                                onclick=`window.location.href="https://diariohoy.net/adjuntos/archivos/000/024/0000024100.pdf"`
                                aria-label="Presione enter si desea acceder al diario Hoy." class="button__custom--fit verde-1"> Hoy</button>
                        </div>
                    </div>
                    <div class="card__diario blue__grad-3" tabindex="6" aria-labelledby="diario Clarín."
                        alt="Tapa del diario Clarín."  aria-label="Tapa del diario Clarín.">
                        <div class="button__container button_position hide__only720">
                            <button
                                onclick=" () => { window.open('https://www.clarin.com/ciudades/critica-situacion-plata-cientos-evacuados_0_S19zAYFiDXg.html','_blank')} "
                                aria-label="Presione enter si desea acceder al diario Clarín." class="button__custom--fit verde-1"> Clarín</button>
                        </div>
                    </div>
                    <div class="card__diario blue__grad-4" tabindex="8" aria-labelledby="diario La Nación."
                        alt="Tapa del diario La Nación."  aria-label="Tapa del diario La Nación.">
                        <div class="button__container button_position hide__only720">
                            <button onclick=`window.open("https://es.kiosko.net/ar/2013-04-03/np/nacion.html", "_blank")`
                            aria-label="Presione enter si desea acceder al diario La Nación." class="button__custom--fit verde-1">La Nación</button>
                        </div>
                    </div>

                </div>
                <div class="card-container hide_btn">
                    <div class="button__container">
                        <button role="button" onclick=`window.location.href="https://www.eldia.com/nota/2013-4-3--el-agua-ya-esta-en-un-metro-y-medio-por-favor-que-alguien-nos-mande-botes"
                        ` aria-label="Presione enter si desea acceder al diario El Dia."
                            tabindex="3" class="button__custom--fit verde-1" id="diario-1-1"> El Día </button>
                    </div>
                    <div class="button__container">
                        <button role="button" onclick=`window.location.href="https://diariohoy.net/adjuntos/archivos/000/024/0000024100.pdf"` aria-label="Presione enter si desea acceder al diario Hoy."
                            tabindex="5" class="button__custom--fit verde-1" id="diario-2-2"> Hoy </button>
                    </div>
                    <div class="button__container">
                        <button role="button" onclick=" () => { window.open('https://www.clarin.com/ciudades/critica-situacion-plata-cientos-evacuados_0_S19zAYFiDXg.html','_blank')} " aria-label="Presione enter si desea acceder al diario Clarin."
                            tabindex="7" class="button__custom--fit verde-1" id="diario-3-3"> Clarín </button>
                    </div>
                    <div class="button__container">
                        <button role="button" onclick=`window.open("https://es.kiosko.net/ar/2013-04-03/np/nacion.html", "_blank")` aria-label="Presione enter si desea acceder al diario La Nación."
                            tabindex="9" class="button__custom--fit verde-1" id="diario-4-4"> La Nación </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- boton para ir arriba -->
    {% include ('partials/_button.html') %}

</main>

{% endblock %}
