<!-- Contenedor de juegos -->
{% extends 'partials/_layout_pc.html' %}
{% block body %}
<!-- Info de los juegos-->
<main>
  <div class="container">
    <div class="main-card" style="margin: 10rem 0; background-color: #004d40; border-radius: 2.8rem;">
      <div class="main-card-header">
        <!-- titulo de la pagina -->
        <div id="afiche-header" class="afiche__head">
          <h1 id="contenido" tabindex="0" class="centrar-texto">¿A dónde ir?</h1>
        </div>
        <!-- descripcion antes de interactuar con los juegos -->
        <div tabindex="0" class="centrar-texto">
          <p>
            Veni a descubrir los centros de encuentro más cercanos al lugar que indiques. Accedé a esta aplicación (mediante el botón ir al sitio web) que genera caminos a dichos puntos de evacuación, evitando las zonas inundables.
            Considera mapas publicados por la <abbr title="Universidad Nacional de La Plata.">UNLP</abbr> y los centros de evacuación publicados por la Municipalidad de La Plata. 
          </p>
         
        </div>
      </div>
      <!-- presentacion de los 6 juegos -->
      <div class="main-card-body">
        <div class="container-juego">
          <!-- juego 1 -->
          <div class="card">
            <img tabindex="0" role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/dondeir.webp')}}" alt="¿Dónde ir?"
              aria-label="Tapa del sitio web caminos a refugios.">
            <div class="intro">
              <h2 tabindex="0">
                Caminos a refugios.
              </h2>
              <p tabindex="0" class="esconder-detail" style="margin-bottom:1rem">
                Esta aplicación sirve para trazar caminos de una ubicaicón a centros evacuación, evitando zonas con probabilidad de inundarse.
              </p>
              <div aria-labelledby="diario-2">
                <div class=" verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web caminos a refugios."
                    id="dondeircamino" style="color: rgb(255, 255, 255);"> Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
          <!-- juego 2 -->
          <div class="card" tabindex="0">
            <img role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/evacuAr.webp')}}" alt="EvacuAR."
              aria-label="Tapa del sitio web EvacuAR.">
            <div class="intro">
              <h2>
                EvacuAR
              </h2>
              <p class="esconder-detail">
                
                Aplicacion de servicios mediante el cual usted puede ver puntos de encuentro, recorridos de evacuación, zonas inundables, realizar denuncias ambientales ademas puede ver estadisticas de la pagina para informase acerca de muchas cosas.

              </p>
              <div aria-labelledby="diario-2">
                <div class="verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web EvacuAR."
                    id="dondeir2" style="color: rgb(255, 255, 255);"> Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
          <!-- juego 3 -->
          <div class="card" tabindex="0">
            <img role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/servicios.webp')}}" alt="Servicios."
              aria-label="Tapa del sitio web Servicios.">
            <div class="intro">
              <h2>
                Servicios
              </h2>
 
              <p class="esconder-detail">
                Aplicacion de servicios mediante el cual usted puede ver puntos de encuentro, recorridos de evacuación, zonas inundables, ademas puede realizar denuncias sobre problemas ambientales indicando la zona en la que se encuentra.
              </p>
              <div aria-labelledby="diario-2">
                <div class="verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web Servicios." 
                  id="dondeir3"
                    style="color: rgb(255, 255, 255);"> Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
          <!-- juego 4 -->
          <div class="card" tabindex="0">
            <img role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/zonasinundadas.webp')}}" alt="Zonas inundadas."
              aria-label="Tapa del sitio Zonas inundadas.">
            <div class="intro">
              <h2>
                Zonas inundadas
              </h2>
              <p class="esconder-detail">
                Este portal te permitirá conocer las zonas de inundación de la ciudad, puntos de evacuacion, realizar denuncias, y ver el mapa de denuncias.
              </p>
              <div aria-labelledby="diario-2">
                <div class="verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web Zonas inundadas."
                    id="dondeir4"
                    style="color: rgb(255, 255, 255);"> Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
          <!-- juego 5 -->
          <div class="card" tabindex="0">
            <img role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/municipalidadlaplata.webp')}}" alt=" Sitio de Municipalidad de La Plata."
              aria-label="Tapa del juego Municipalidad de La Plata.">
            <div class="intro">
              <h2>
                Municipalidad de La Plata
              </h2>
              <p class="esconder-detail">
                ofrece los mismos servicios que los otros websites pero en el citio de la municipalidad de la plata.
              </p>
              <div aria-labelledby="diario-2">
                <div class="verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web Municipalidad de La Plata."
                    id="dondeir5" style="color: rgb(255, 255, 255);">
                    Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
          <!-- juego 7 -->
          <div class="card" tabindex="0">
            <img role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/inundacioneslaplata.webp')}}"
              alt="Inundaciones La Plata." aria-label="Tapa del sitio web Inundaciones La Plata.">
            <div class="intro">
              <h2>
                Inundaciones La Plata
              </h2>
              <p class="esconder-detail">
                Aquí podrás observar los posibles puntos de encuentro frente a una inundación.
              </p>
              <div aria-labelledby="diario-2">
                <div class="verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web Inundaciones La Plata."
                    id="dondeir6"
                    style="color: rgb(255, 255, 255);"> Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
          <!-- juego 8 -->
          <div class="card" tabindex="0">
            <img role="img" class="img-juego img1"
              src="{{url_for('static', filename = 'img/section5/dondeir-tapa/AyudAR.webp')}}"
              alt=" Ayud-AR."
              aria-label="Tapa del sitio web Ayud-AR.">
            <div class="intro">
              <h2>
                Ayud-AR
              </h2>
              <p class="esconder-detail">
                Aplicacion web de prevención de inundaciones, puedes ver puntos de encuentros, mapas de denuncias, mapas de zonas inundables.  
              </p>
              <div aria-labelledby="diario-2">
                <div class="verde-4 esconder-detail boton">
                  <a role="button" tabindex="0" aria-label="Ir al sitio web Ayud-AR."
                    id="dondeir7" style="color: rgb(255, 255, 255);"> Ir al sitio web</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- boton para ir arriba -->
  {% include ('partials/_button.html') %}
</main>
{% endblock %}