<!-- El index es el primero que esta en el layout -->
{% extends 'layout.html' %}
{% block body %}
    <!-- FILA/COL Al form y al div los coloco en filas y columnas -->
    <div class="row">
        <div class="col md-5">
            <!-- mensajes del CRUD -->
            {% include ('partials/_message.html') %}        

            <h3> Crear usuario</h3>
            <!-- formulario del usuario -->
            {% include ('partials/_form.html') %}
        </div>
        <div class="col md-7">
            <!-- listar usuarios: los atributos son los de la BD -->
            <div>
                <h3>Lista de Usuarios</h3>
                
                        
            </div>
        </div>
    </div>
    <!-- FILA/COL Al form y al div los coloco en filas y columnas -->


{% endblock %}

