  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de inundaciones en el exterior-->
    <main>
        <div class="main-card">
            <div class="main-card-body">               
                <div id="afiche-header" class="afiche__head">
                    <h1 class="centrar-texto" tabindex="0">Inundaciones en el exterior</h1>
                </div>
                <div class="main-card-info">
                    <div class="card-container">
                        <div class="card back-1"  tabindex="1" aria-labelledby="diario-1">
                            <!-- <img style="margin-bottom: 29rem;" src="{{url_for('static', filename = 'img/diarios/tapas/cabecera.png')}}" alt=""> -->
                            <!-- <div class="card__info">
                                <h3 style="color: rgb(255, 255, 255); size: 4rem; background-color: rgba(0, 0, 0, 0.294); opacity: ;">Tsunami Chile (2010)</h3>
                            </div>  -->
                            <div class="button__container hide__only720">
                                <a href="/chile" class="button__custom--fit verde-1"> Tsunami Chile (2010)</a>
                            </div>
                        </div>
                        <div class="card  back-2" tabindex="3" aria-labelledby="diario-2">
                            <!-- <img  style="margin-bottom: 29.5rem;" src="{{url_for('static', filename = 'img/diarios/tapas/cabecera.png')}}" alt=""> -->
                           <!--  <div class="card__info">
                                <h3>Tormenta Alemania
                                  (1962)</h3>
                            </div>     -->
                            
                            <div class="button__container hide__only720">
                                <a href="/alemania" class="button__custom--fit verde-1"> Tormenta Alemania
                                   (1962)</a>
                            </div>
                        </div>
                        <div class="card  back-3" tabindex="5" aria-labelledby="diario-3">
                            <!-- <img style="margin-bottom: 29.5rem;" src="{{url_for('static', filename = 'img/diarios/tapas/cabecera.png')}}" alt=""> -->
                           <!-- <div class="card__info">
                                 <h3>Inundación Polonia (1997)</h3>
                                 
                            </div>-->
                            <div class="button__container hide__only720">
                                <a href="/polonia" class="button__custom--fit verde-1"> Inundación Polonia (1997)</a>
                            </div>
                        </div>
                        

                    </div>
                    <div class="card-container hide_btn">
                        <div class="button__container">
                            <a role="button" href="/chile" tabindex="2" class="button__custom--fit verde-1" id="diario-1"> Tsunami Chile (2010) </a>
                        </div>
                        <div class="button__container">
                            <a role="button" href="/alemania" tabindex="4" class="button__custom--fit verde-1" id="diario-2"> Tormenta Alemania
                              (1962) </a>
                        </div>
                        <div class="button__container">
                            <a role="button" href="/polonia" tabindex="6" class="button__custom--fit verde-1" id="diario-3"> Inundación Polonia (1997) </a>
                        </div>
                        
                    </div>
                </div>

            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  
    </main>

{% endblock %}