  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de inundaciones en el exterior-->
    <main>
        <div class="main-card">
            <div class="main-card-body">               
                <div id="afiche-header" class="afiche__head">
                    <h1 id="contenido" class="centrar-texto" tabindex="0">Inundaciones en el exterior</h1>
                </div>
                <div class="centrar-texto" tabindex="0">
                    <p>
                        En el proyecto Citadine se abordan catástrofes naturales ocurridas en las distintas localidades de las entidades partícipes, por lo que se dispone de información sobre desastres naturales en Chile, Alemania y Polonia. 
                    </p>
                    <p>
                        Seleccione alguno de los afiches de los desastres naturales en el exterior, para acceder a dicha información.
                    </p>
                </div>
                <div class="main-card-info">
                    <div class="card-container">
                        <div  role="img"  class="card__diario back-1"  tabindex="1" aria-labelledby="diario-1"
                        alt="Tapa de Tsunami Chile." aria-label="Tapa de Tsunami Chile.">                    
                            <div class="button__container button_position hide__only720">
                                <a role="button" href="/chile" class="button__custom--fit verde-1"> Tsunami Chile (2010)</a>
                            </div>
                        </div>
                        <div  role="img"  class="card__diario  back-2" tabindex="3" aria-labelledby="diario-2"
                        alt="Tapa de Tormenta Alemania." aria-label="Tapa de Tormenta Alemania.">               
                            <div class="button__container button_position hide__only720">
                                <a role="button" href="/alemania" class="button__custom--fit verde-1"> Tormenta Alemania
                                   (1962)</a>
                            </div>
                        </div>
                        <div  role="img"  class="card__diario  back-3" tabindex="5" aria-labelledby="diario-3"
                        alt="Tapa de Inundación Polonia." aria-label="Tapa de Inundación Polonia.">
                            <div class="button__container button_position hide__only720">
                                <a role="button" href="/polonia" class="button__custom--fit verde-1"> Inundación Polonia (1997)</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-container hide_btn">
                        <div class="button__container">
                            <a role="button" href="/chile" tabindex="2" class="button__custom--fit verde-1" id="diario-1"> Tsunami Chile (2010) </a>
                        </div>
                        <div class="button__container">
                            <a role="button" href="/alemania" tabindex="4" class="button__custom--fit verde-1" id="diario-2"> Tormenta Alemania
                              (1962) </a>
                        </div>
                        <div class="button__container">
                            <a role="button" href="/polonia" tabindex="6" class="button__custom--fit verde-1" id="diario-3"> Inundación Polonia (1997) </a>
                        </div>
                        
                    </div>
                </div>

            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  
    </main>

{% endblock %}