<!-- esta es la version 2 de la rama PC -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- color e icono IOS -->
  <meta name="theme-color" content="#317EFB"/>
  <link rel="apple-touch-icon" href="{{url_for('static', filename = 'img/general/flooded-house.png')}}">
  <meta
  name="descripción"
  content="Informarte sobre los desastres naturales en Polonia, Alemania, Republica Dominicana, Chile y Argentina. Descubre que pasó antes, durante y después de la inundación de la Plata en 2013.">
  
  <!--Responsive Meta Tag-->
  <link rel="shortcut icon" href="{{url_for('static', filename = './img/general/otros/tree.webp')}}" type="image/x-icon">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- watson asistant -->
  <link rel="stylesheet" href="{{url_for('static', filename = '/css/chat.css')}}">
  <!-- demas stilos -->
  <link rel="preload" href="{{url_for('static', filename = '/css/normalize.css')}}" as="style">
  
  <link rel="stylesheet" href="{{url_for('static', filename = '/css/normalize.css')}}">

  <link rel="preload" href="{{url_for('static', filename = '/css/main.css')}}" as="style">
  <link rel="stylesheet" href="{{url_for('static', filename = '/css/main.css')}}">
  
  <link rel="preload" href="{{url_for('static', filename = '/css/lixtbox.css')}}" as="style">
  <link rel="stylesheet" href="{{url_for('static', filename = '/css/lixtbox.css')}}">

  <!-- CSS del testimonio -->
  <link rel="stylesheet" href="{{url_for('static', filename = '/css/testimonios.css')}}">
  <!-- CSS del acordeon -->
  <link rel="stylesheet" href="{{url_for('static', filename = '/css/minAcordeon.css')}}">

  <!--Import jQuery Library-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="{{url_for('static', filename = '/js/index.js')}}"></script>

  <title>Mock</title>
</head>
<!-- <body class="animate__animated animate__fadeIn"> -->


<body>
    <ul class="link__skip">
        <li class="link__skip--item"><a href="#contenido">enlace, presione enter para ir al contenido principal de sitio.</a></li>
      </ul>
     <!-- <header class="header-container"> -->
      <header class="header header-container">
        <div>
          <!-- logo de citadine -->
          <div class="header__img__h1">
            <a tabindex="0" role="menuitem" href="index.html" aria-label="Presione enter para ir a la pagina principal.">
              <div role="img" class="item__img__h1 txt_white">
                <img class="wh-88" src="{{url_for('static', filename = './img/general/flooded-house.png')}}" alt="Logo de citadine.">
                <h1>Generar <span>con</span>ciencia</h1>
              </div>
            </a>
            <!-- <small> La muestra contará con 6 áreas o secciones de exhibición, que deben recorrerse en forma secuencial,
              puesto que aborda la temática en forma cronológica.
              Además, se analiza la inundación desde la perspectiva de 4 casos diferentes de personas que relatan sus
              experiencias y lo sucedido antes, durante y después de vivenciarla.
            </small> -->
          </div>
     
          <!-- barra de secciones y boton -->
          <div class="header__nav__menu">
            <button role="menu" tabindex="0" class="boton__2 verde-4" aria-label="Presione enter para obtener mas información." id="logo">
              <img src="{{url_for('static', filename = 'img/general/menu.svg')}}" alt="Citadine brand">
            </button>
            <nav  class="header-container-nav-row" id="nav-id" aria-label="Barra de navegación.">
    
              <ul tabindex="-1" class="menubar-navigation" role="menubar" aria-label="Barra de navegación.">
                <!-- boton 1 -->
                <li role="none">
                  <a tabindex="0" class="navegacion__enlace" role="menuitem" aria-label="Presione enter para conocer las opciones  de la sección 1."
                    aria-haspopup="true" aria-expanded="false" href="#academics">
                    <img class="wh-30" src="{{url_for('static', filename = 'img/general/secciones/1.webp')}}" alt="seccion">
                    <div class="navegacion__enlace--info">
                      <p>sección 1</p>
                      <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down wh-12-9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-label="1">
                    <li role="none">
                      <a tabindex="-1" role="menuitem" href="testimonio1.html" aria-label="Estas dentro de las opciones de la sección 1. Presione enter para conocer: Conoce nuestros testimonios: Antes de la inundación.">1- 
                        Conoce nuestros testimonios: Antes de la inundación</a>
                    </li>
                    <li role="none">
                      <a tabindex="-1" role="menuitem" href="the-news-of-the-day.html" aria-label="Presione enter para conocer: Las noticias del día. ">2- 
                        Las noticias del día
                        </a>
                    </li>
    
                  </ul>
                </li>
                <!-- boton 2 -->
                <li role="none">
                  <a tabindex="0" class="navegacion__enlace" role="menuitem" aria-label="Presione enter para conocer las opciones  de la sección 2."
                    aria-haspopup="true" aria-expanded="false" href="#academics">
    
                    <img class="wh-30" src="{{url_for('static', filename = 'img/general/secciones/2.webp')}}" alt="seccion">
    
    
                    <div class="navegacion__enlace--info">
                      <p>sección 2</p>
                      <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down wh-12-9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-label="2">
                    <li role="none">
                      <a role="menuitem" href="#interview-map.html" aria-label="Estas dentro de las opciones de la sección 2. Presione enter para conocer: Mapa de entrevistas.">1- Mapa de entrevistas
                        </a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="water-level-simulator.html" aria-label="Presione enter para conocer: Simulador de nivel de agua.">2-
                        Simulador de nivel de agua
                        </a>
                    </li>
    
                  </ul>
                </li>
                <!-- boton 3 -->
                <li role="none">
                  <a class="navegacion__enlace" role="menuitem" aria-label="Presione enter para conocer las opciones de la sección 3."
                    aria-haspopup="true" aria-expanded="false" href="#academics">
    
                    <img class="wh-30" src="{{url_for('static', filename = 'img/general/secciones/3.webp')}}" alt="seccion">
    
    
                    <div class="navegacion__enlace--info">
                      <p>sección 3</p>
                      <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down wh-12-9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-label="3">
                    <li role="none">
                      <a role="menuitem" href="diarios.html" aria-label="Estas dentro de las opciones de la sección 3. Presione enter para conocer: Diarios. ">1- Diarios</a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="shocking-photos.html"
                        aria-label="Presione enter para conocer: Fotos impactantes. ">2- Fotos impactantes
                        </a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="testimonio2.html" aria-label="Presione enter para conocer: Conoce nuestros testimonios: Durante la inundación.">3- 
                        Conoce nuestros testimonios: Durante la inundación</a>
                    </li>
    
                    <li role="none">
                      <a role="menuitem" href="photo-album.html"
                        aria-label="Presione enter para conocer: Álbum de fotos.">4- Álbum de fotos
                      </a>
                    </li>
    
                  </ul>
                </li>
                <!-- boton 4 -->
                <li role="none">
                  <a class="navegacion__enlace" role="menuitem" aria-label="Presione enter para conocer las opciones de la sección 4."
                    aria-haspopup="true" aria-expanded="false" href="#academics">
    
                    <img class="wh-30" src="{{url_for('static', filename = 'img/general/secciones/4.webp')}}" alt="seccion">
    
    
                    <div class="navegacion__enlace--info">
                      <p>sección 4</p>
                      <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down wh-12-9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-label="4">
                    <li role="none">
                      <a role="menuitem" href="testimonio3.html" aria-label="Estas dentro de las opciones de la sección 4. Presione enter para conocer: Conoce nuestros testimonios: Despúes de la inundación. ">1- Conoce nuestros
                        testimonios: Despúes de la inundación</a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="sandbox.html" aria-label="Presione enter para conocer: Sandbox.">2- Sandbox</a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="Why-do-we-flood.html"
                        aria-label="Presione enter para conocer: Porqué nos inundamos.">3- Porqué nos inundamos</a>
                    </li>
    
                  </ul>
                </li>
    
                <!-- botone 5 -->
    
                <li role="none">
                  <a class="navegacion__enlace" role="menuitem" aria-label="Presione enter para conocer las opciones de la sección 5."
                    aria-haspopup="true" aria-expanded="false" href="#academics">
    
                    <img class="wh-30" src="{{url_for('static', filename = 'img/general/secciones/5.webp')}}" alt="seccion">
    
                    <div class="navegacion__enlace--info">
                      <p>sección 5</p>
                      <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down wh-12-9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" aria-label="5">
                    <li role="none">
                      <a role="menuitem" href="/recomendacion-como-actuar.html" aria-label="Estas dentro de las opciones de la sección 5. Presione enter para conocer: Recomendaciones de como actuar. ">1-
                        Recomendaciones de como actuar</a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="#/smart-survival-backpak.html" aria-label="Presione enter para conocer: Mochila inteligente de supervivencia. ">2-
                        Mochila inteligente de supervivencia
                        </a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="#/where-to-go.html" aria-label="Presione enter para conocer: Dónde ir.">3- Dónde ir
                        </a>
                    </li>
    
                    <li role="none">
                      <a role="menuitem" href="#/educational-games.html" aria-label="Presione enter para conocer: Juegos educacionales. ">4-
                        Juegos educacionales
                        </a>
                    </li>
                  </ul>
                </li>
                <!-- botone 6 -->
    
                <li role="none">
                  <a class="navegacion__enlace" role="menuitem" aria-label="Presione enter para conocer las opciones de la sección 6."
                    aria-haspopup="true" aria-expanded="false" href="#academics">
    
                    <img class="wh-30" src="{{url_for('static', filename = 'img/general/secciones/6.webp')}}" alt="seccion">
    
                    <div class="navegacion__enlace--info">
                      <p>sección 6</p>
                      <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down wh-12-9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                      </svg>
                    </div>
                  </a>
                  <ul role="menu" id="sub-menu-academics">
                    <li role="none">
                      <a role="menuitem" href="#/go citadine blue" aria-label="Estas dentro de las opciones de la sección 6. Presione enter para conocer: Citadine azul. ">1- Citadine
                        azul.</a>
                    </li>
                    <li role="none">
                      <a role="menuitem" href="#/go citadine green" aria-label="Presione enter para conocer: Citadine verde.">2-
                        Citadine verde</a>
                    </li>
                    <li role="none">
                      <!-- polonia alemania chile y republica dominicana
                                        reutilizar la interfaz de los 4 casos -->
                      <a role="menuitem" href="Inundaciones-en-el-exterior.html" aria-label="Presione enter para conocer: Inundaciones en el exterior. ">3-
                        Inundaciones en el exterior</a>
                    </li>
                    <li role="none">
                      <!-- es un afiche de como se ayudaron los vecinos- cosas positivas -->
                      <a role="menuitem" href="Conclusiones-del-evento.html" aria-label="Presione enter para conocer: Conclusiones del evento. ">4-
                        Conclusiones del evento</a>
                    </li>
                  </ul>
                </li>
                <!-- barra deslizante -->
              </ul>
            </nav>
          </div>
    
        </div>
    
      </header>
      <!-- menu deslizante -->
      <div class="menu-deslizante-realtivo">
        <div id="menuIcono" class="sideBar">
          <div class="sideBar-header">
            <img class="boton-close "  id="close-sideBar" src="{{url_for('static', filename = './img/general/circle-x.svg')}}" alt="haga click, o presione enter para cerrar el sidebar.">
            <div role="img" class="sideBar-img" aria-labelledby="posts-heading">
              <img src="{{url_for('static', filename = './img/general/flooded-house.png')}}" alt="expo citadine logo">
              <!-- <a href="/"><img src="./img/general/menu-deslizante/technical-support.png" alt="expo citadine logo"></a> -->
              <!-- <a href="/"><img src="./img/general/menu-deslizante/options.png" alt="expo citadine logo"></a> -->
              <!-- <a href="/"><img src="./img/general/menu-deslizante/choose.png" alt="expo citadine logo"></a> -->
            </div>
            <div class="sideBar-info header__img__h4"  id="posts-heading">
              <h4>Elija una <span >op</span>ción</h4>
              <p>Descubra más del evento.</p>
            </div>
          </div>
          <div class="sideBar-body" role="navigation">
            <section>
              <ul class="sidebar-body-ul" role="menu">
                <!-- NOTA: Las secciones no estan en la vista del PC -->
                <a tabindex="-1" id="tab-secciones" href="./menu-deslizante/sections.html">
                  <li class="sidebar-link" role="menuitem"
                    aria-label="Estas dentro del menu deslizante. Haga click si decea entrar a las secciones. 1 de 5.">
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/secciones.png')}}" alt="calendario-image">
                    <p class="no-margin">sections</p>
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/arrow.png')}}"alt="flecha-image">
                  </li>
                </a>
                <a tabindex="-1" id="tab-novedades" href="./menu-deslizante/anounce.html">
                  <li  class="sidebar-link" role="menuitem"
                    aria-label="Haga click si decea entrar a Announcements. 2 de 5.">
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/calendar.webp')}}" alt="calendario-image">
                    <p class="no-margin">Announcements</p>
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/arrow.png')}}" alt="flecha-image">
                  </li>
                </a>
                <a tabindex="-1" id="tab-covid" href="{{url_for('static', filename = './menu-deslizante/covid.html')}}">
                  <li  class="sidebar-link" role="menuitem"
                    aria-label="Haga click si decea entrar a COVID protocols. 3 de 5.">
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/virus.webp')}}" alt="virus-image">
                    <p class="no-margin">COVID protocols </p>
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/arrow.png')}}" alt="flecha-image">
                  </li>
                </a>
                <a tabindex="-1" href="./menu-deslizante/about.html">
                  <li  class="sidebar-link" role="menuitem"
                    aria-label="Haga click si decea entrar a hacerca de citadine. 4 de 5.">
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/Citadine.webp')}}" alt="informacion-image">
                    <p class="no-margin">About Citadine </p>
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/arrow.png')}}" alt="flecha-image">
                  </li>
                </a>
                <a tabindex="-1" href="./menu-deslizante/languaje.html">
                  <li  class="sidebar-link" role="menuitem"
                    aria-label="Haga click si decea entrar a hacerca de lenguajes. 5 de 5.">
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/languages.webp')}}" alt="lenguajes-image">
                    <p class="no-margin">Languajes </p>
                    <img class="wh-42" src="{{url_for('static', filename = './img/general/menu-deslizante/arrow.png')}}" alt="flecha-image">
                  </li>
                </a>
              </ul>
            </section>
          </div>
        </div>
      </div>
    
      <!-- main -->
      <main>

            <!-- {% include ('partials/_navbar.html') %} -->
            <!-- agrego mi porcion de codigo y le doy espaciado y centrado-->
            <div class="container p2">
                {% block body%}
                
                {% endblock%}
            </div>
       </main>     
    <!-- llamo al script de boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- script -->

    <script src="{{url_for('static', filename = '/js/lixtbox.js')}}"></script>


    
    <!-- ver mas del testimonio  -->
    <script src="{{url_for('static', filename = '/js/acordeon.js')}}"></script>
</body>

</html>