  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info del Contenedor del video-->
  <main>
   
        <div class="main-card">
          <div class="main-card-body">
            <div id="afiche-header" class="afiche__head">
              <h1 id="contenido" tabindex="0" class="centrar-texto">Mochila inteligente de supervivencia</h1>
            </div>
            <div tabindex="0" aria-label="Reproductor de video" class="contenedor-video">
                <div class="px-video-container" id="myvid">
                    <iframe width="100%" 
                                height="100%" 
                                src="https://www.youtube.com/embed/6wSfv4MV8MQ" 
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                    </iframe>
                </div>
                <!-- detalles del video -->
                <div tabindex="0" class="video__informacion">
                    <h4 class="no-margin"><span>
                        Detalles del video:
                    </span> </h4>
                    
                    <p class="video__descripcion">
                      Vení a armar una mochila de emergencia interactuando con una mochila inteligente.
                      <br>
                      Consiste en agregar a una mochila real, tecnología de Internet de las cosas (IoT) para que reaccione mediante vibración, sonido y luces, si un elemento es esencial o no, o sea si es apropiado o no para una situación de emergencias. El boceto de esta propuesta, se muestra en la siguiente Fig.20.
                          
                    </p>
                    <img tabindex="0" role="img" class="main-section-img-grande" src="{{url_for('static', filename = 'img/afiches/Mochila.png')}}" aria-label="imagen de dos mochilas." alt="imagen de dos mochilas.">
                      
                    <p>
                      Dos mochilas utilizan tecnología RFID para reconocer las etiquetas que tienen los distintos objetos y reaccionar según si son adecuadas o no. Y hay una tercera mochila con reconocimiento de imágenes.
                    </p>
                </div> 
            </div>
          </div>
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  
  </main>
  
 <!-- FIN Info del contenedor de video -->
 {% endblock %}