  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de recomendaciones de como actuar-->
  <main >
    <div class="contenedor-testimonio">

    <div id="afiche-header" class="afiche__head">
      <h1 id="contenido" class="centrar-texto text-shadow" tabindex="0">
        Recomendaciones sobre cómo actuar.
      </h1>
    </div>

    <!-- segundo componente -->
    <div class="flex__container-column">
      <div class="grid__texto">

        <div class="flex__container2" tabindex="0">
          <p>
            En el Manual del Plan de Reducción del Riesgo por Inundaciones para la Región La Plata se lista una serie de
            recomendaciones de cómo actuar frente a inundaciones. Aquí te mostramos algunas:
          </p>
        </div>
      </div>
    </div>
    <!-- tercer componente  -->


    <!-- fila 1 -->

    <div class="grid__container__4">



      <!-- elemento 1 -->
      <div class="grid__image small mg-top">
        <img src="{{url_for('static', filename = 'img/afiches/quehacer-Imagen1.webp')}}" alt="Imagen de asegurá.">

        <!-- componente 1 -->
        <div class="accordion">

          <button type="button" aria-label="Presiona enter si desea conocer mas sobre el testimonio de Amina Suarez."
            aria-expanded="false" class="accordion-trigger boton-acordeon" aria-controls="sect1" id="accordion1id">
            <span class="accordion-title">
              Asegurá
              <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down" width="12" height="9" viewBox="0 0 12 9">
                <polygon points="1 0, 11 0, 6 8"></polygon>
              </svg>
            </span>
          </button>

          <div id="sect1" role="region" aria-labelledby="accordion1id" class="accordion-panel animate__animated animate__fadeIn" hidden>
            <div style="width: 100%;">
              <!-- Variable content within section, may include any type of markup or interactive widgets. -->
              <fieldset>
                <p class="curso__descripcion">
                  Cortá los servicios de agua, luz y gas.
                  Juntá la basura y no la saques.
                  Juntá elementos sueltos o átalos.
                  Ponte zapatillas o zapatos de goma.
                  Tené una radio a pilas cargada.

                </p>
              </fieldset>
            </div>
          </div>

        </div>
      </div>

      <!-- elemento 2 -->
      <div class="grid__image small mg-top">
        <img src="{{url_for('static', filename = 'img/afiches/quehacer-Imagen2.webp')}}" alt="Imagen de establecé.">
        <!-- componente 2 -->
        <div class="accordion">

          <button type="button"
            aria-label="Presiona enter si desea conocer mas sobre el testimonio de Alejandro Fernandez."
            aria-expanded="false" class="accordion-trigger boton-acordeon" aria-controls="sect2" id="accordion1id">
            <span class="accordion-title">
              Establecé
              <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down" width="12" height="9" viewBox="0 0 12 9">
                <polygon points="1 0, 11 0, 6 8"></polygon>
              </svg>
            </span>
          </button>

          <div id="sect2" role="region" aria-labelledby="accordion1id" class="accordion-panel animate__animated animate__fadeIn" hidden>
            <div>
              <!-- Variable content within section, may include any type of markup or interactive widgets. -->
              <fieldset>
                <p class="curso__descripcion">
                  Avisá donde te encuentras.
                  Fijate zonas altas de la casa o barrio donde acudir.
                  Agendate los números de emergencia.
                    
                </p>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
      <!-- elemento 3 -->
      <div class="grid__image small mg-top">
        <img src="{{url_for('static', filename = 'img/afiches/quehacer-Imagen3.webp')}}" alt="Imagen de Resguardá.">
        <!-- componente 3 -->
        <div class="accordion">

          <button type="button" aria-label="Presiona enter si desea conocer mas sobre el testimonio de Romina Carrozas."
            aria-expanded="false" class="accordion-trigger boton-acordeon" aria-controls="sect3" id="accordion1id">
            <span class="accordion-title">
              Resguardá
              <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down" width="12" height="9" viewBox="0 0 12 9">
                <polygon points="1 0, 11 0, 6 8"></polygon>
              </svg>
            </span>
          </button>

          <div id="sect3" role="region" aria-labelledby="accordion1id" class="accordion-panel animate__animated animate__fadeIn" hidden>
            <div>
              <!-- Variable content within section, may include any type of markup or interactive widgets. -->
              <fieldset>
                <p class="curso__descripcion">
                  Subí aparatos,  elementos de valor, documentos importantes a un lugar elevado.
                  Colocá los productos peligrosos o tóxicos bien cerrados a una altura prudente.  
                </p>
              </fieldset>
            </div>
          </div>

        </div>
      </div>
      <!-- elemento 4 -->
      <div class="grid__image small mg-top">
        <img src="{{url_for('static', filename = 'img/afiches/quehacer-Imagen4.webp')}}" alt="Imagen de armá.">
        <!-- componente 4 -->
        <div class="accordion">

          <button type="button" aria-label="Presiona enter si desea conocer mas sobre el testimonio de Silvia Rivas."
            aria-expanded="false" class="accordion-trigger boton-acordeon" aria-controls="sect4" id="accordion1id">
            <span class="accordion-title">
              Armá
              <svg id="campo" xmlns="http://www.w3.org/2000/svg" class="down" width="12" height="9" viewBox="0 0 12 9">
                <polygon points="1 0, 11 0, 6 8"></polygon>
              </svg>
            </span>
          </button>

          <div id="sect4" role="region" aria-labelledby="accordion1id" class="accordion-panel animate__animated animate__fadeIn" hidden>
            <div>
              <!-- Variable content within section, may include any type of markup or interactive widgets. -->
              <fieldset>
                <p class="curso__descripcion">
                  Armá una mochila con tu documento, agua, linterna, kit de primeros auxilios, radio a pilas, celular y cargador. Una muda de ropa y abrigo.

                </p>
              </fieldset>
            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- fila 2 -->
    <div class="flex__container-column">
      <div class="grid__texto">

        <div class="flex__container2">
          <p>
            - Si estás en una casa y el agua supera las rodillas, aseguráte de tener una abertura disponible para no
            quedar atrapado. Dejá la heladera abierta para que no flote.
          </p>
          <p>
            - Si estás en el auto y el agua ya ingresa al habitáculo, conviene salir y buscar refugio.
          </p>
        </div>
      </div>
    </div>
  </div>
    <!-- boton para ir arriba -->
    {% include ('partials/_button.html') %}  
  </main>

  <!-- script -->
  <!-- ver mas del testimonio  -->
  <!-- FIN Info de recomendaciones de como actuar-->
  {% endblock %}