<!-- Contenedor del testimonio -->
{% extends 'partials/_layout.html' %} {% block body %}
<!-- Info de galeria de fotos-->
<main>
  <div class="container">
    <div class="main-card" style="margin: 10rem auto">
      <div class="main-card-header">
        <div id="afiche-header" class="afiche__head">
          <h1 id="contenido" tabindex="0" class="centrar-texto">
            Fotos impactantes
          </h1>
        </div>
        <div class="centrar-texto">
          <p>Seleccionar la imagen para entrar a la galería de fotos.</p>
        </div>
      </div>
      <div class="main-card-body">
        <div class="gallery__container" id="lightgallery">
          <a
            role="link"
            class="img1"
            aria-label="imagen de la galería-16 de 19.Presione enter si desea abrir el carrousel de imágenes."
            alt="img16."
            href="{{url_for('static', filename = 'img/section3/album/16.webp')}}"
            class="vertical"
          >
            <img
              width="100%" height="100%"
              alt="img2."
              aria-label="imagen de la galería-2 de 7.Presione enter si desea abrir el carrousel de imágenes."
              src="{{url_for('static', filename = 'img/section3/album/16.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            aria-label="imagen de la galería-17 de 19.Presione enter si desea abrir el carrousel de imágenes."
            alt="img17."
            href="{{url_for('static', filename = 'img/section3/album/17.webp')}}"
            class="vertical"
          >
            <img
              width="100%" height="100%"
              alt="imagen de la galeria"
              src="{{url_for('static', filename = 'img/section3/album/17.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            aria-label="imagen de la galería-18 de 19.Presione enter si desea abrir el carrousel de imágenes."
            alt="img18."
            href="{{url_for('static', filename = 'img/section3/album/18.webp')}}"
            data-sub-html="<h4>Vista acerca de la vaca totalmente inundado.</h4><p>(foto: Adrian Scandar).</p>"
          >
            <img
              width="100%" height="100%"
              alt="imagen de la galeria"
              src="{{url_for('static', filename = 'img/section3/album/18.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            aria-label="imagen de la galería-19 de 19.Presione enter si desea abrir el carrousel de imágenes."
            alt="img19."
            href="{{url_for('static', filename = 'img/section3/album/19.webp')}}"
            data-sub-html="<h4>Vista acerca de la vaca totalmente inundado.</h4><p>(foto: Adrian Scandar).</p>"
          >
            <img
              width="100%" height="100%"
              alt="imagen de la galeria"
              src="{{url_for('static', filename = 'img/section3/album/19.webp')}}"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- boton para ir arriba -->
  {% include ('partials/_button.html') %}
</main>

<!-- script -->
<!-- galeria de imagenes -->
<!-- FIN Info de la galeria de fotos -->
{% endblock %}
