  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de galeria de fotos-->
    <main>
        <div class="container">
            <div class="main-card" style="margin: 10rem auto;">
                <div class="main-card-header">
                    <div id="afiche-header" class="afiche__head">
                      <h3 tabindex="0" class="centrar-texto">Shocking Photos</h3>
                    </div>

                </div>
                <div class="main-card-body">
                    <div class="gallery__container" id="lightgallery">
                       
                              <!-- <a aria-label="imagen de la galería-1 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img1." href="../../img/section3/album/1.webp">
                                <img loading="lazy" alt= "imagen de la galeria-1" src="../../img/section3/album/1.webp" />
                              </a>
                              <a aria-label="imagen de la galería-2 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img2." href="../../img/section3/album/2.webp" class="vertical">
                                <img loading="lazy" alt= "imagen de la galeria-2" src="../../img/section3/album/2.webp" />
                              </a>
                              <a aria-label="imagen de la galería-3 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img3." href="../../img/section3/album/3.webp" class="horizontal">
                                <img loading="lazy" alt= "imagen de la galeria-3" src="../../img/section3/album/3.webp" />
                              </a>
                              <a aria-label="imagen de la galería-4 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img4." href="../../img/section3/album/4.webp">
                                <img loading="lazy" alt= "imagen de la galeria-4" src="../../img/section3/album/4.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-5 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img5." href="../../img/section3/album/5.webp" class="horizontal">
                                <img loading="lazy" alt= "imagen de la galeria-5" src="../../img/section3/album/5.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-6 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img6." href="../../img/section3/album/6.webp" class="vertical">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/6.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-7 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img7." href="../../img/section3/album/7.webp">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/7.webp" />
                              </a>
                        
                        
                              <a aria-label="imagen de la galería-8 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img8." href="../../img/section3/album/8.webp">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/8.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-9 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img9." href="../../img/section3/album/9.webp" class="big">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/9.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-10 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img10." href="../../img/section3/album/10.webp">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/10.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-11 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img11." href="../../img/section3/album/11.webp" class="horizontal">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/11.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-12 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img12." href="../../img/section3/album/12.webp">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/12.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-13 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img13." href="../../img/section3/album/13.webp" class="big">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/13.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-14 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img14." href="../../img/section3/album/14.webp">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/14.webp" />
                              </a>
                        
                              <a aria-label="imagen de la galería-15 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img15." href="../../img/section3/album/15.webp" class="vertical">
                                <img loading="lazy" alt= "imagen de la galeria" src="../../img/section3/album/15.webp" />
                              </a>-->
                              <a role="img" aria-label="imagen de la galería-16 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img16." href="{{url_for('static', filename = 'img/section3/album/16.webp')}}" class="vertical">
                                </a>
                              <a aria-label="imagen de la galería-17 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img17." href="{{url_for('static', filename = 'img/section3/album/17.webp')}}" class="vertical"> 
                                <img loading="lazy" alt= "imagen de la galeria" src="{{url_for('static', filename = 'img/section3/album/17.webp')}}" />
                              </a>
                              <a aria-label="imagen de la galería-18 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img18." href="{{url_for('static', filename = 'img/section3/album/18.webp')}}" data-sub-html="<h4>Vista acerca de la vaca totalmente inundado.</h4><p>(foto: Adrian Scandar).</p>">
                                
                                <img loading="lazy" alt= "imagen de la galeria" src="{{url_for('static', filename = 'img/section3/album/18.webp')}}" />
                              </a>
                              <a aria-label="imagen de la galería-19 de 19.Presione enter si desea abrir el carrousel de imágenes." alt= "img19." href="{{url_for('static', filename = 'img/section3/album/19.webp')}}" data-sub-html="<h4>Vista acerca de la vaca totalmente inundado.</h4><p>(foto: Adrian Scandar).</p>">
                                <img loading="lazy" alt= "imagen de la galeria" src="{{url_for('static', filename = 'img/section3/album/19.webp')}}" />
                              </a>
                        
                    </div>

                </div>
            </div>
            
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  

    </main>
    
                      
    <!-- script -->
    <!-- barra de secciones -->
    <script src="./../../js/lixtbox.js"></script>
    <!-- galeria de imagenes -->
    <script src="./../../js/lightgallery.min.js"></script>
    <script src="./../../js/lg-zoom.min.js"></script>
    <script src="./../../js/lg-thumbnail.min.js"></script>
    <script src="./../../js/lg-video.min.js"></script>
    <!-- menu de barra deslizante -->
    <script src="./../../js/index.js"></script>
  <!-- FIN Info de la galeria de fotos -->
  {% endblock %}