  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info del Contenedor del video-->
  <main>
   
        <div class="main-card">
          <div class="main-card-body">
            <div id="afiche-header" class="afiche__head">
              <h1 id="contenido" tabindex="0" class="centrar-texto">Soluciones basadas en la naturaleza</h1>
            </div>
            
                
                <!-- detalles del video -->
                <div tabindex="0" class="grid__texto flex__container_dondeir">
                    
                    <div class="video__descripcion">
                      <p >
                        El proyecto Citadine complementa el sitio de catástrofes con el sitio de soluciones basadas en la naturaleza o NBS, donde se presentan distintas alternativas que pueden emprender los ciudadanos para lograr una ciudad más sustentable.
                        Cliquee en el botón para acceder al sitio de soluciones basadas en la naturaleza del proyecto Citadine. Se abrirá una pestaña del navegador para el acceso al mismo.

                      </p>
                    </div>
                    
                   
                    <!-- 1 imagen -->
                    <div  class="grid__container__2">
                      <div class="grid__image">
                              <img tabindex="0" role="img" width="100%" height="100%" src="{{url_for('static', filename = 'img/section6/solucion.webp')}}" aria-label="Imagen del Sitio web de soluciones basadas en la naturaleza." alt="Imagen del Sitio web de soluciones basadas en la naturaleza.">
                              
                                <small class="contenedor__text" style="width: 50%;">
                                    Foto: Sitio web de soluciones basadas en la naturaleza."
                                </small>
                        </div>
                    </div>
                    
                    <!-- boton jugar-->
                    <div tabindex="0" class="verde-4 boton" style="width: 50%;">
                      <a arial-label="Ir al sitio de Citadine basado en la naturaleza." class="citadineVerde" style="color: rgb(255, 255, 255);" > Ir al sitio de Citadine-NBS</a>
                    </div>
                  
                </div>
                <!-- fin del contenedor   -->
            
          </div>
        </div>
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  
  </main>
  
 <!-- FIN Info del contenedor de video -->
 {% endblock %}