  <!-- Contenedor del testimonio -->
  {% extends 'partials/_layout.html' %}
  {% block body %}
  <!-- Info de los diarios-->
  <main>
   
        <div class="main-card">
          <div class="main-card-body">
            <div id="afiche-header" class="afiche__head">
                <h3 tabindex="0" class="centrar-texto">The news of the day</h3>
            </div>
            <div class="contenedor-video">
                <div class="px-video-container" id="myvid">
                    <div tabindex="0" aria-label="Este es el reproductor de video." class="px-video-img-captions-container">
                        <div class="px-video-captions hide" aria-hidden="true"></div>
                        <video width="640" height="360" poster="media/foo.jpg" controls>
                            <!-- video files -->
                            <source src="/public/7-1-22.mp4" type="video/mp4" />
                            <source src="foo.webm" type="video/webm" />
                            <!-- text track file -->
                            <track kind="captions" label="English captions" src="media/foo.vtt" srclang="en" default />
                            <!-- fallback for browsers that don't support the video element -->
                            <div>
                                <a href="foo.mp4">
                                    <img src="media/foo.jpg" width="640" height="360" alt="download video" />
                                </a>
                            </div>
                        </video>
                    </div>
                    <!-- end container for captions and video -->
                    <div class="px-video-controls"></div>
                </div>
                <!-- detalles del video -->
                <div tabindex="0" class="video__informacion">
                    <h4  class="no-margin"><span>
                        Video detail:
                    </span> </h4>
                    
                    <p class="video__descripcion">
                        Donec tempor, nisl et rhoncus viverra, turpis enim convallis ligula, non hendrerit nulla tortor nec odio. Morbi non mattis nunc, elementum auctor arcu. Aliquam vestibulum arcu non sem porta auctor. Nam vel congue ligula, eu condimentum felis. Nunc aliquam hendrerit odio sit amet venenatis. Nunc varius, libero a tempor rutrum, nulla risus congue velit, nec suscipit nibh lectus ac dolor. Nulla facilisi.
                    </p>
                </div> 
            </div>
          </div>
        </div>
        

      
        <!-- boton para ir arriba -->
        {% include ('partials/_button.html') %}  
  </main>
  <!-- barra de secciones -->
  <script src="{{url_for('static', filename = './js/lixtbox.js')}}"></script>
  <!-- menu de barra deslizante -->
  <script src="{{url_for('static', filename = './js/index.js')}}"></script> 
  <!-- script del video -->
    <script src="{{url_for('static', filename = './js/strings.js')}}"></script>
    <script src="{{url_for('static', filename = './js/px-video.js')}}"></script>
    <script>
    // Initialize
    new InitPxVideo({
        "videoId": "myvid",
        "captionsOnDefault": true,
        "seekInterval": 20,
        "videoTitle": "clips of stand-up comedy",
        "debug": true
    });
    </script>
 <!-- FIN Info de los diarios -->
 {% endblock %}