{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endwith %}

<h1>Crear usuario</h1>
<form action="/user" method="POST">

    <input type="text" name="name" placeholder="WACRIBE TU NOMBRE" />
    <input type="text" name="pasword" placeholder="WACRIBE TU pasword" />
    <input type="email" name="email" placeholder="WACRIBE TU email" />
    <button>save</button>
</form>
<!-- listar usuarios: los atributos son los de la BD -->
<div>
    {% for user in users%}
    <div>
        <h5>{{user.name}}</h5>
        <div>
            <a href="{{url_for('user.update',id=user.iduser)}}">Update</a>
            <a href="{{url_for('user.delete',id=user.iduser)}}">Delete</a>
        </div>

    </div>
    {%endfor%}

</div>