<!-- Contenedor del testimonio -->{% extends 'partials/_layout.html' %} {% block
body %}<!-- Info de la galeria de fotos-->
<main>
  <div class="container">
    <div class="main-card" style="margin: 10rem auto">
      <div class="main-card-body">
        <div id="afiche-header" class="afiche__head">
          <h1 id="contenido" tabindex="0" class="centrar-texto">
            Simulador de nivel de agua
          </h1>
        </div>
        <div tabindex="0" class="centrar-texto">
          <p>
            Las lluvias del 2 de abril de 2013 superaron el máximo histórico de lluvia diaria en la ciudad de La Plata y alrededores. Según registros de la Estación Observatorio Astronómico, en solo 3 horas de 128,6 mm de agua, cayeron 303,8. Siendo desde las 16:25 a 19:25 el periodo de tiempo. Esto siguió luego hasta llegar a unos <abbr title="cuatrocientos milímetros.">400 mm</abbr> aproximadamente.
          </p>
          <p>
            El simulador de agua intenta mostrar cómo creció el nivel de agua ingresada en los hogares, mediante una maqueta dentro de un recipiente de vidrio. Incluye placa electrónica, bombas y temporizador.
          </p>
          
          <p>Seleccionar la imágen para entrar a la galería de fotos.</p>
        </div>
        <!-- comienzo de la galería -->
        <div class="gallery__container" id="lightgallery">
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/1-1.webp')}}"
          >
            <img
              role="img"
              width="30%"
              height="30%"
              aria-label="imagen de la galería-1 de 7"
              alt="Maqueta del comedor con el nivel de agua hasta el tope del recipiente."
              src="{{url_for('static', filename = '/img/section2/1.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/2.webp')}}"
            class="vertical"
          >
            <img
              role="img"
              width="30%"
              height="30%"
              aria-label="imagen de la galería-2 de 10.Presione enter si desea abrir el carrousel de imágenes."
              alt="Maqueta del comedor sin agua."
              src="{{url_for('static', filename = '/img/section2/2.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/3.webp')}}"
            class="horizontal"
          >
            <img
              role="img"
              width="30%"
              height="30%"
              aria-label="imagen de la galería-3 de 10.Presione enter si desea abrir el carrousel de imágenes."
              alt="Maqueta del comedor con agua por la mitad. Vista lateral."
              src="{{url_for('static', filename = '/img/section2/3.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/4.webp')}}"
          >
            <img
              role="img"
              width="30%"
              height="30%"
              aria-label="imagen de la galería-4 de 10.Presione enter si desea abrir el carrousel de imágenes."
              alt="img4."
              src="{{url_for('static', filename = '/img/section2/4.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/5.webp')}}"
            class="horizontal"
          >
            <img
              role="img"
              width="30%"
              height="30%"
              aria-label="imagen de la galería-5 de 10.Presione enter si desea abrir el carrousel de imágenes."
              alt="img5."
              src="{{url_for('static', filename = '/img/section2/5.webp')}}"
            />
          </a>
          <a
            role="link"
            href="{{url_for('static', filename = '/img/section2/6.webp')}}"
          >
            <img
              role="img"
              width="30%"
              height="30%"
              aria-label="imagen de la galería-6 de 10.Presione enter si desea abrir el carrousel de imágenes."
              alt="img6."
              src="{{url_for('static', filename = '/img/section2/6.webp')}}"
            />
          </a>
          <a
            role="link"
            href="{{url_for('static', filename = '/img/section2/7.webp')}}"
          >
            <img
              role="img"
              aria-label="imagen de la galería-7 de 10.Presione enter si desea abrir el carrousel de imágenes."
              alt="img7."
              width="30%"
              height="30%"
              src="{{url_for('static', filename = '/img/section2/7.webp')}}"
            />
          </a>
                 </div>
      </div>
    </div>
  </div>
  <!-- boton para ir arriba -->
  {% include ('partials/_button.html') %}
</main>
<!-- FIN Info de la galeria de fotos -->{% endblock %}
