<!-- Contenedor del testimonio -->
{% extends 'partials/_layout.html' %} {% block body %}
<!-- Info de la galeria de fotos-->
<main>
  <div class="container">
    <div class="main-card" style="margin: 10rem auto">
      <div class="main-card-body">
        <div id="afiche-header" class="afiche__head">
          <h1 id="contenido" tabindex="0" class="centrar-texto">
            Simulador de nivel de agua
          </h1>
        </div>
        <div class="centrar-texto">
          <p>Seleccionar la imagen para entrar a la galeria de fotos.</p>
        </div>
        <!-- comienzo de la galería -->
        <div class="gallery__container" id="lightgallery">
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/1-1.webp')}}"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-1 de 7"
              alt="img1."
              src="{{url_for('static', filename = '/img/section2/1.webp')}}"
            />
          </a>

          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/2.png')}}"
            class="vertical"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-2 de 7.Presione enter si desea abrir el carrousel de imágenes."
              alt="img2."
              src="{{url_for('static', filename = '/img/section2/2.webp')}}"
            />
          </a>

          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/3.png')}}"
            class="horizontal"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-3 de 7.Presione enter si desea abrir el carrousel de imágenes."
              alt="img3."
              src="{{url_for('static', filename = '/img/section2/3.webp')}}"
            />
          </a>
          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/4.png')}}"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-4 de 7.Presione enter si desea abrir el carrousel de imágenes."
              alt="img4."
              src="{{url_for('static', filename = '/img/section2/4.webp')}}"
            />
          </a>

          <a
            role="link"
            class="img1"
            href="{{url_for('static', filename = '/img/section2/5.png')}}"
            class="horizontal"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-5 de 7.Presione enter si desea abrir el carrousel de imágenes."
              alt="img5."
              src="{{url_for('static', filename = '/img/section2/5.webp')}}"
            />
          </a>

          <a
            role="link"
            href="{{url_for('static', filename = '/img/section2/6.png')}}"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-6 de 7.Presione enter si desea abrir el carrousel de imágenes."
              alt="img6."
              src="{{url_for('static', filename = '/img/section2/6.webp')}}"
            />
          </a>

          <a
            role="link"
            href="{{url_for('static', filename = '/img/section2/7.png')}}"
          >
            <img
              loading="lazy"
              aria-label="imagen de la galería-7 de 7.Presione enter si desea abrir el carrousel de imágenes."
              alt="img7."
              src="{{url_for('static', filename = '/img/section2/7.webp')}}"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- boton para ir arriba -->
  {% include ('partials/_button.html') %}
</main>
<!-- FIN Info de la galeria de fotos -->
{% endblock %}
