// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap");
@import url("./../scss/generics/_funciones.scss");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Now 10px = 1rem! */
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  @include background-template("../img/general/cruce_de_inundacion_2.webp");
  font-family: "Source Sans Pro", sans-serif;
  font-size: calc(0.84em + 1vw); //font responsive
  color: #ffffff;
}
a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: #ffffff;
  padding: 0 1rem;
}
.p-10 {
  font-size: calc(0.19em + 1vw);
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bold;
  text-align: center;
}
h5 {
  margin: 0;
  font-weight: bold;
  font-size: calc(1.8em + 1vw);
}
h1 {
  font-size: calc(1.8em + 1vw);
}
h2 {
  font-size: calc(1.4em + 1vw);
}
h3 {
  font-size: calc(1em + 1vw);
}
h4 {
  font-size: calc(0.8em + 1vw);
}
nav ul a {
  font-size: calc(0.8em + 1vw);
}
small,
.text_small {
  font-size: calc(0.6em + 1vw);
}
@media (min-width: 720px) {
  nav ul a {
    font-size: calc(0.08em + 1vw);
  }
  small,
  .text_small {
    font-size: calc(0.06em + 1vw);
  }
}
img {
  max-width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: attr(width) / attr(height);
}
nav {
  background-color: #003d33;
}
.verde__oscuro {
  background-color: #05241e;
}
// utilidades
.m-cero-auto {
  margin: 0 auto;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.overflow-y {
  overflow-y: scroll;
}
.line-down {
  padding-bottom: 2rem;
  border-bottom: 1px double #000f05;
}

// utilidades de texto
.centrar-texto{
  text-align: center !important; 
}
.txt_center {
  text-align: center !important;
}
.txt_justify {
  text-align: justify !important;
}
.txt_left {
  text-align: left !important;
}
.txt_white {
  color: #ffffff !important;
}
.txt-left-sidebar {
  width: 60%;
  text-align: start;
}
// utilidad de altura
.h-460 {
  height: 460px;
}
// utilidades de imagen
.w-90{
  width: 90%!important;
}

.wh-42 {
  width: 42px;
  height: 42px;
}
.wh-24 {
  width: 24px;
  height: 24px;
}
.wh-12-9 {
  width: 12px;
  height: 9px;
}
.wh-30 {
  width: calc(2.5em + 1vw);
  height: calc(2.5em + 1vw);
}
.wh-37 {
  width: calc(2.9em + 1vw);
  height: calc(2.9em + 1vw);
}
.wh-88 {
  width: calc(4em + 1vw);
  height: calc(4em + 1vw);
}
.wh-127 {
  width: calc(5em + 1vw);
  height: calc(7em + 1vw);
}
.wh-127g {
  height: calc(7em + 1vw);
}

.wh-256 {
  width: calc(6.5em + 1vw);
  height: calc(6.5em + 1vw);
}
.contenedor__text {
  word-wrap: break-word;
}
.a-link {
  color: #2196f3;
}
// juegos
.container-juego {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.intro {
  padding: .5rem;
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: white;
  bottom: -20rem;
  transition: 0.5s;
}

.intro h2{
  font-size: 2.8rem;
}


@media (min-width: 768px){
  .intro h2{
    font-size: 2.4rem;
  }
  .intro p{
    font-size: 1.8rem;
  }
}

@media (min-width: 931px) and (max-width: 1270px) {
  .container-juego {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .card{
    width: 30rem;
    height: 40rem;
  }
}
.img-juego {
  height: 50rem;
  width: 50rem;
  border-radius: 3px;
}
.card {
  height: 45rem; 
  margin: 3.125rem;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  position: relative;
}
@media (max-width: 932px) {
  .card{
    // width: 40rem;
    width: 95%;
    height: 55rem;
  }
  .container-juego {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .img-juego {
    height: 55rem;
    width: 80rem;
    border-radius: 3px;
  }
}
.verde-4 {
  border-radius: 0.25em;
}
.esconder-detail {
  font-size: 20px;
  margin: 20px 0;
  visibility: hidden;
  opacity: 0;
}

div[aria-labelledby]{
  display: flex;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
}
.card:hover .intro {
  height: 100%;
  bottom: 0rem;
  background: black;
}
.card:hover p {
  opacity: 1;
  visibility: visible;
}
.card:hover .esconder-detail {
  opacity: 1;
  visibility: visible;
}
.card:hover img {
  transform: scale(1.1) rotate(-3deg);
}

#hereYouAre{
  // border: 4px solid red!important;
  background-color: #004D40;
}

.boton a{
  display: block;
  // border: 1px solid red;
}

.no-border{
  border-radius: 0!important;
}

// nosotros
/* links */
 .nfl a, .nf2 a, .nf3 a, .nf4 a {
	 text-decoration: none;
	 transition: color 0.2s ease-out;
}
 .nfl a {
	 color: rgba(79, 192, 210, 1);
}
.nfl a:hover,
.nfl a:focus-within,
.nfl a:active,
.nfl a:focus {
	 color: rgba(38, 134, 149, 1);
}
 .nf2 a {
	 color: rgba(82, 210, 154, 1);
}
 .nf2 a:hover {
	 color: rgba(39, 151, 102, 1);
}
 .nf3 a {
	 color: rgba(231, 196, 104, 0.7);
}
 .nf3 a:hover {
	 color: rgba(201, 154, 32, 0.7);
}
 .nf4 a {
	 color: rgba(235, 118, 85, 1);
}
 .nf4 a:hover {
	 color: rgba(195, 61, 23, 1);
}
/* wrapper */
 .wrapper-nosotros {
	 width: 100%;
	 max-width: 1000px;
	 margin: 20px auto 100px auto;
	 padding: 0;
	 background: #003d33;
	 color: rgba(255, 255, 255, 0.9);
	 overflow: hidden;
	 position: relative;
}
/* lists */
 .row-nosotros  ul {
	 margin: -25px;
	 padding: -1px;
}
 .row-nosotros  ul li {
	 margin: 0;
	 font-size: 16px;
	 font-weight: normal;
	 list-style: none;
	 display: inline-block;
	 /* ancho de la celda */
	 width: 48%; 
	 box-sizing: border-box;
}
 @media only screen and (max-width: 767px) and (min-width: 480px) {
	 .row-nosotros ul li {
		 font-size: 12px;
	}
}
 @media only screen and (max-width: 479px) {
	 .row-nosotros ul li {
		 font-size: 14px;
	}
}
 .title-nosotros ul li {
	 padding: 15px 13px;
}
 .row-nosotros  ul li {
	 padding: 5px 10px;
}
/* rows */
 .row-nosotros  {
	 padding: 20px 0;
	 height: 30px;
	 font-size: 0;
	 position: relative;
	 overflow: hidden;
	 transition: all 0.2s ease-out;
	 border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.row-nosotros:focus-within,
.row-nosotros:active,
.row-nosotros:focus,
 .row-nosotros:hover {

	 height: 65px;
}
 @media only screen and (max-width: 767px) {
	 .row-nosotros:hover {
		 height: 85px;
	}
}
 @media only screen and (max-width: 359px) {
	 .row-nosotros:hover {
		 height: 105px;
	}
}
 .title-nosotros {
	 padding: 25px 0 5px 0;
	 height: 80px;
	 font-size: 0;
	 background-color:#05241e;
	 border-left: 5px solid #0a8025;
}
.title-nosotros:hover,
.title-nosotros:focus-within,
.title-nosotros:active,
.title-nosotros:focus {
	 height: -45px;
	 background-color: rgba(255, 255, 255, 0.1);
	 border-left: 3px solid rgba(255, 255, 255, 0.1);
}
 @media only screen and (max-width: 767px) {
	 .title-nosotros-hide {
		 display: none;
	}
}
 .nfl {
	 border-left: 5px solid rgba(28, 97, 108, 1);
}
 .nfl:hover {
	 border-left: 5px solid rgba(79, 192, 210, 1);
}
 .nf2 {
	 border-left: 5px solid rgba(29, 110, 75, 1);
}
 .nf2:hover {
	 border-left: 5px solid rgba(82, 210, 154, 1);
}
 .nf3 {
	 border-left: 5px solid rgba(157, 121, 25, 0.7);
}
 .nf3:hover {
	 border-left: 5px solid rgba(231, 196, 104, 0.7);
}
 .nf4 {
	 border-left: 5px solid rgba(149, 47, 18, 1);
}
 .nf4:hover {
	 border-left: 5px solid rgba(235, 118, 85, 1);
}
/* row one - fadeIn */
 .row-fadeIn-wrapper {
	 opacity: 0;
	 font-size: 0;
	 height: 0;
	 overflow: hidden;
	 position: relative;
	 transition: all 0.2s ease-out;
	 animation: fadeIn 0.4s ease-out 2s 1 alternate;
	 animation-fill-mode: forwards;
}
.row-fadeIn-wrapper:focus-within,
.row-fadeIn-wrapper:active,
.row-fadeIn-wrapper:focus,
 .row-fadeIn-wrapper:hover {
	 height: 35px !important;
}
 @media only screen and (max-width: 767px) {
	 .row-fadeIn-wrapper:hover {
		 height: 55px;
	}
}
 @media only screen and (max-width: 359px) {
	 .row-fadeIn-wrapper:hover {
		 height: 75px;
	}
}
 .fadeIn {
	 padding: 20px 0;
	 font-size: 0;
	 position: absolute;
	 transition: all 0.2s ease-out;
	 width: 100%;
}
.fadeIn:focus-within,
.fadeIn:active,
.fadeIn:focus,
 .fadeIn:hover {
	 background-color: rgba(26, 26, 26, 0.9);
}
/* row two - fadeOut */
 .row-fadeOut-wrapper {
	 font-size: 0;
	 overflow: hidden;
	 position: relative;
	 transition: all 0.2s ease-out;
	 animation: fadeOut 0.4s ease-out 8s 1 alternate;
	 animation-fill-mode: forwards;
	 opacity: 1;
	 height: 65px;
}

 .row-fadeOut-wrapper:hover {
	 height: 100px;
}
/* update content */
 .update-row {
	 animation: update 0.5s ease-out 12s 1 alternate;
}
 .update1 {
	 position: absolute;
	 top: 25px;
	 display: inline-block;
	 opacity: 1;
	 animation: update1 1s ease-out 12s 1 alternate;
	 animation-fill-mode: forwards;
}
 .update2 {
	 position: absolute;
	 top: 25px;
	 display: inline-block;
	 opacity: 0;
	 animation: update2 4s ease-out 13s 1 alternate;
	 animation-fill-mode: forwards;
}
/* more content */
 ul.more-content li {
	 position: relative;
	 top: 22px;
	 font-size: 13px;
	 margin: 0;
	 padding: 10px 13px;
	 display: block;
	 height: 50px;
	 width: 100%;
	 color: rgba(128, 128, 128, 0.9);
}
 @media only screen and (max-width: 767px) {
	 ul.more-content li {
		 font-size: 11px;
	}
}
/* small content */
 .small {
	 color: rgba(102, 102, 102, 0.9);
	 font-size: 10px;
	 padding: 0 10px;
	 margin: 0;
}
 @media only screen and (max-width: 767px) {
	 .small {
		 display: none;
	}
}
/* keyframe animations */
 @keyframes fadeIn {
	 from {
		 background: rgba(255, 255, 255, 0.1);
		 opacity: 0;
		 padding: 0;
	}
	 to {
		 background: rgba(51, 51, 51, 0.1);
		 opacity: 1;
		 padding: 0 0 65px 0;
	}
}
 @keyframes fadeOut {
	 from {
		 background: rgba(51, 51, 51, 0.1);
		 opacity: 1;
		 height: 65px;
	}
	 to {
		 background: rgba(255, 255, 255, 0.1);
		 opacity: 0;
		 height: 0;
	}
}
 @keyframes update {
	 0% {
		 background: rgba(51, 51, 51, 0.1);
	}
	 50% {
		 background: rgba(255, 255, 255, 0.1);
	}
	 100% {
		 background: rgba(51, 51, 51, 0.1);
	}
}
 @keyframes update1 {
	 0% {
		 opacity: 0;
	}
	 0% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0;
	}
}
 @keyframes update2 {
	 0% {
		 opacity: 0;
		 color: rgba(255, 255, 255, 0.9);
	}
	 20% {
		 opacity: 1;
		 color: rgba(82, 210, 154, 1);
	}
	 100% {
		 opacity: 1;
		 color: rgba(255, 255, 255, 0.9);
	}
}
 
// footer
.footer__centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-padding{
	padding: 3rem 3rem!important;
}

// texto

*{line-height: 1.5em !important;}

p{margin-bottom: 2em !important;}

*{letter-spacing: 0.12em !important;}

*{word-spacing: 0.16em !important;}
