@import "./generics/funciones";
@import "./generics/colores";
@import "globals";
@import "sidebar";
@import "portada";
@import "./generics/button";
@import "./generics/header";
@import "./generics/card-row";
@import "./generics/card-slide"; 
@import "watsonUI";
@import "lightGallery";
@import "generics/grid";
@import "generics/video";
@import "generics/flex";
@import "generics/link-skip";
@import "generics/button";
@import "generics/px-video";
