{% extends 'partials/_layout.html' %}
{% block body %}
<!-- Info de la importancia de la solidaridad-->
    <main>
      <div class="contenedor-testimonio">

      <div id="afiche-header" class="afiche__head">
        <h3 tabindex="0" class="centrar-texto text-shadow">
          La importancia de la solidaridad.
        </h3>
      </div>

      <h4 tabindex="0" class="container mg-top">El auxilio inmediato de los vecinos
      </h4>
      <!-- primera fila -->
      <div tabindex="0" class="grid__texto flex__container2">
        <div class="caja1">
          <p>
            “Creo que lo que más valoro de toda esa época, fue que hubo mucha solidaridad”. “Esa noche yo salía
            al
            balcón y nos gritábamos, de balcón en balcón, de ventana en ventana, con los vecinos: ¿Necesitás algo?
            ¿Querés
            venirte a mi casa?” “Y luego gente de todos lados, queriendo ayudar y mandando cosas. ¿Te presto esto? ¿Te
            regalo lo otro? ¿Necesitás comida?”. “Eso fue impresionante”. (María G.)
          </p>
        </div>

        <div class="caja2">
          <img role="img" aria-label="Imagen de perfil de María." alt="Imagen de María." src="../img/afiches/solidaridad-Imagen1.png">
        </div>
      </div>
      <!-- segunda fila -->
      <div tabindex="0" class="grid__texto flex__container2">
        <div class="caja2">
          <img role="img" aria-label="Imagen de perfil de Carlos." alt="Imagen de Carlos." src="../img/afiches/solidaridad-Imagen2.png">
        </div>
        <div class="caja1">
          <p>
            “Cuando me enteré que había zonas que se estaban anegando, ahí me empecé  a preocupar. Lo primero que
            hicimos
            con mi hijo fue preparar algunas cosas, mochilas con  cuerdas, tijeras y algunos alicates, cosas elementales
            como para ir a ayudar a la gente”. (Carlos G.)
          </p>
        </div>
      </div>
      <!-- tercer fila -->
      <div tabindex="0" class="grid__texto flex__container2">
        <div class="caja6 grid__image">
          <img role="img" src="../img/afiches/solidaridad-Imagen3.jpg">
          <small>Fotos:
            <a
              href="https://www.perfil.com/noticias/sociedad/colectas-donaciones-y-shows-para-ayudar-a-los-platenses-20130407-0060.phtml">
              perfil - noticias: colectas y donaciones para ayudar a los platenses.</a></small>
        </div>
        <div class="caja1">
          <hr>
          <h3>La Solidaridad del pueblo
          </h3>
          <p class="mg-top">
            La reacción fue inmediata y masiva. Entidades, agrupaciones sociales y miles de voluntarios realizaron
            colectas.
            “Todo el país quiere participar –afirma Juan Carr–, empezamos a tener un desborde de generosidad que es
            conmovedor.”
          </p>

        </div>
      </div>
      <!-- cuarta fila -->

      <div tabindex="0" class="grid__texto flex__container2 mg-top">
        <div class="caja7">
          <hr>
          <h4 class="container mg-top">La unión y participación de la gente
          </h4>
          <p>
            “De la asamblea, rescato que los vecinos a pesar de diferencias de edad, de historias, de pensamiento, de
            situaciones económicas, a pesar de toda esa diversidad se pudo tener puntos en común, para poder agruparnos
            alrededor de determinados reclamos. Salir a la calle a pelear por sus derechos”. (Pepe R).
            La asamblea Parque Castelli a días de la inundación, se organizó en distintas comisiones: de fiscalización
            de
            obras, la de comunicación y la de arte, encargada de idear prácticas artísticas.
          </p>
          <div class="caja8 grid__image mg-top">
            <img role="img" src="../img/afiches/solidaridad-Imagen4.png">
            <small>Fotos: <a href="https://m.facebook.com/AsambleaVecinalParqueCastelli/?ref=nf_target&__tn__=%2Cg"
                target="_blank">facebook - Asamblea vecinal Parque Castelli.</a>
          </div>
        </div>
      </div>
      <!-- quinta fila -->
      <div tabindex="0" class="grid__texto flex__container2 mg-top">
        <div class="caja7">
          <p>
            Cada 2 de abril, las asambleas de vecinos inundados y diferentes organizaciones realizan actos, marchas y
          múltiples actividades sobre la inundación.
          La asamblea Parque Castelli a días de la inundación, se organizó en distintas comisiones: de fiscalización de
          obras, la de comunicación y la de arte, encargada de idear prácticas artísticas.

          </p>
          <div class="caja8 grid__image mg-top">
            <img role="img" src="../img/afiches/solidaridad-Imagen5.png">
            <small>Fotos: <a href="https://www.infoplatense.com.ar/nota/2017-4-2-bajo-el-llovizna-la-ciudad-recordo-la-tragedia-del-2-de-abril-en-la-plata"
              target="_blank">infoPlatense-nota-tragedia.</a>
          </div>
        </div>
      </div>
  </div>
      <div class="go-up">
        <a role="button" tabindex="0" aria-label="Regresar al encabezado."  alt="Botón para regresar al encabezado." href="#afiche-header">
            <img loading="lazy" src="../img/general/arrow-up.svg"  alt="imagen del botón para regresar al encabezado.">
        </a>
      </div>

      <!-- fin de la fila -->
      <div class="main-container-boton tooltip">
        <a role="button" tabindex="0" aria-label="Volver a la página anterior."  alt="Botón para volver la página anterior." class="boton verde-4" onclick="history.back()">
          <div class="boton-info">
            <p>Go back</p> <img src="../img/general/backArrow.svg" alt="backArrow">
          </div>
        </a>
        <span class="tooltiptext">Botón para volver a la página anterior.</span>
      </div>
    </main>
    <!-- footer -->
    <footer></footer>
    <!-- script -->
    <script src="../js/lixtbox.js"></script>
    <script src="../js/index.js"></script>
    {% endblock %}