
    {% extends 'partials/_layout.html' %}
    {% block body %}
    <!-- Info del legado de la memoria-->
  <main>
    <div class="main-card">
    <div class="main-card-body">
    <div id="afiche-header" class="afiche__head">
      <h1 tabindex="0" class="centrar-texto text-shadow"> 
        El legado de la memoria.
        
      </h1>
    </div>
    
    <!-- segundo componente -->
     <div tabindex="0" class="flex__container-column">
        <div class="grid__texto">
            
            <div class="flex__container2">
              <p>
                Libros, informes, actividades educativas, expresiones culturales, 
                obras de teatro, canciones, se realizaron como consecuencia de la 
                inundación del 2 de abril, para mitigar el dolor, para transformarlo, 
                para no olvidar. 
              </p>
            </div>
        </div>
     </div>
    <!-- tercer componente  -->
    <div  class="grid__container">
        <div class="grid__columna">
          <div tabindex="0" class="grid__texto">
            <hr class="mg-top">
            <h4 >Material bibliográfico</h4>         
            <p>
              Importante material bibliográfico fue elaborado por distintas 
              entidades educativas con información y registros sobre la inundación, 
              abordado en forma integral, desde diferentes áreas disciplinares e  
              incluyendo la participación de los damnificados.
            </p>
          </div>
        </div>
        <div class="grid__columna grid__image">
          <div tabindex="0" class="grid__image small caja5">
            <img role="img" src="{{url_for('static', filename = 'img/afiches/memoria-Imagen1.png')}}">
            <small class="contenedor__text">Foto: Alagos, Flickr, CC BY-NC-SA 2.0.</small>
          </div>
        </div>
   </div>
     
  <!-- columna 1 -->
  <div class="grid__container">
      <div class="grid__columna">
        <div tabindex="0" class="grid__texto">
          <hr class="mg-top">
          <h4>Un monumento por los inundados</h4>
          <p>
            Fue instalado 26 y 65 de La Plata  por familiares y amigos de las 
            víctimas de la trágica inundación. Se construyó además un Jardín de 
            la Memoria, en 12 y 51, declarado de Interés Histórico Municipal. 

          </p>
        </div>

        <div class="grid__columna grid__image">
          <div class="grid__image small caja5">
            <img role="img" aria-label="Foto: publicada en 24CN conurbano." alt="Foto: publicada en 24CN conurbano." src="{{url_for('static', filename = 'img/afiches/memoria-Imagen2.png')}}">
            <small class="contenedor__text">
              <a class="sacar_vinculo" tabindex="0" href="https://www.24con.com/nota/96150-instalaron-un-monumento-porlos-inundados/">
                Foto: publicada en 24CN conurbano.
              </a>
            </small>
          
          </div>
          </div>
      </div>
      
  
  <!-- columna 2 -->
  <!-- <div class="grid__container"> -->
    <div class="grid__columna">
      
    <div tabindex="0" class="grid__texto">
      <hr class="mg-top">
      <h4>Concursos de cortometraje</h4>
      <p>
        Concurso “Dos-Cuatro-Trece Prohibido Olvidar”. Organizado por la 
        Asambleas de Inundados La Plata, con la participación del director 
        de cine Juan José Campanella.
      </p>
    </div>

    <div class="grid__columna grid__image">
        <div class="grid__image small">
            <img role="img" aria-label="Foto: Agencia de La Calle - Periodismo ciudadano para el desarrollo sustentable." alt="Foto: Agencia de La Calle - Periodismo ciudadano para el desarrollo sustentable." src="{{url_for('static', filename = 'img/afiches/2413.png')}}">
            <small class="contenedor__text">
            <a class="sacar_vinculo" tabindex="0" href="https://agenciadelacalle.com/2017/11/08/se-entregaran-los-premios-del-concurso-de-cortos-sobre-la-inundacion-2013/">
              Foto: Agencia de La Calle - Periodismo ciudadano para el desarrollo sustentable. 
            </a>  
            </small>
        </div>
    </div>
    
  </div>
    <!-- imagen-3 -->
      <!-- Fin columna-2 -->
    </div>
  <div  class="grid__container__3">
    <div tabindex="0" class="grid__texto">
      <hr class="mg-top">
      <h4>Expresiones culturales</h4>
      <p>
        En las zonas más afectadas por la inundación se pintaron murales 
        que expresan registros de lo sucedido. Realizados por asambleas 
        de vecinos, familiares de víctimas o por artistas importantes de 
        la ciudad, como los de Luxor-Bet-El, del proyecto colectivo “Volver
        a habitar”.
  
      </p>
    </div>
    <div class="grid__columna grid__image mg-bottom">
        <div class="grid__image small">
            <img role="img" aria-label="Foto: 7 y 32 / Homenaje al vecinx solidario / Asamblea Barrio Norte." alt="Foto: 7 y 32 / Homenaje al vecinx solidario / Asamblea Barrio Norte." src="{{url_for('static', filename = 'img/afiches/memoria-Imagen4.jpg')}}">
            <small class="contenedor__text">
              <a tabindex="0" href="https://archivo.argentina.indymedia.org/images/muralvecinosolidario.jpg">
                Foto: 7 y 32 / Homenaje al vecinx solidario / Asamblea Barrio Norte.
              </a>
            </small>
        </div>
    </div>
    <div class="grid__columna grid__image mg-bottom">
        <div class="grid__image small">
            <img role="img" aria-label="Foto: 59 esquina 25 . Autor: Luxor. Foto: Romina Soliani." alt="Foto: 59 esquina 25 . Autor: Luxor. Foto: Romina Soliani." src="{{url_for('static', filename = 'img/afiches/memoria-Imagen5.png')}}">
            <small class="contenedor__text">
              <a tabindex="0" href="https://www.facebook.com/laplatanoolvida2deabril/photos/1025582847529903/">
                Foto: 59 esquina 25 . Autor: Luxor. Foto: Romina Soliani.
              </a>
              
              
              </small>
    
        </div>
    </div>
    <div class="grid__columna grid__image mg-bottom">
        <div class="grid__image small">
            <img src="{{url_for('static', filename = 'img/afiches/memoria-Imagen6.jpg')}}" aria-label="Foto: El Sudaca Rengau. Existen muchos mundos, pero están en este." alt="Foto: El Sudaca Rengau. Existen muchos mundos, pero están en este.">
            <small class="contenedor__text">
              <a tabindex="0" href="https://memoria.fahce.unlp.edu.ar/tesis/te.1593/te.1593.pdf"> Foto: El Sudaca Rengau. "Existen muchos mundos, pero están en este."</a>
            </small>
        </div>
    </div>
    <div class="grid__columna grid__image mg-bottom">
        <div class="grid__image small">
            <img src="{{url_for('static', filename = 'img/afiches/memoria-Imagen7.jpg')}}" aria-label="Foto: El Sudaca Rengau. Mural: Luxor." alt="Foto: El Sudaca Rengau. Mural: Luxor.">
            <small class="contenedor__text">
              <a tabindex="0" href="https://elsudacarenegau.wordpress.com /2012/11/06/mundos/">Foto: El Sudaca Rengau. Mural: Luxor.</a>
            </small>
        </div>
   </div>
   <div class="grid__columna grid__image mg-bottom">
        <div class="grid__image small">
            <img src="{{url_for('static', filename = 'img/afiches/memoria-Imagen8.png')}}" aria-label="Foto: 12 y 526 / Bajo el agua / Asamblea vecinxs Tolosa. " alt="Foto: 12 y 526 / Bajo el agua / Asamblea vecinxs Tolosa. ">
            <small class="contenedor__text">
              <a tabindex="0" href="https://www.facebook.com/laplatanoolvida2deabril/photos/1025592364195618">Foto: 12 y 526 / Bajo el agua / Asamblea vecinxs Tolosa. </a>
            </small>
        </div>
   </div>
  </div>
</div>
</div>
    <!-- boton para volver a arriba -->
    {% include ('partials/_button.html') %}
  {% endblock %}